<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{heading_title}} <i class="fa fa-caret-down"></i></a></h4>
  </div>
  <div id="collapse-coupon" class="panel-collapse collapse">
    <div class="panel-body">
      <label class="col-sm-2 control-label" for="input-coupon">{{entry_coupon}}</label>
      <div class="input-group">
        <input type="text" name="coupon" value="{{coupon}}" placeholder="{{entry_coupon}}" id="input-coupon" class="form-control" />
        <span class="input-group-btn">
        <input type="button" value="{{button_coupon}}" id="button-coupon" data-loading-text="{{text_loading}}"  class="btn btn-primary" />
        </span></div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$(document).ready(function() {
	Total_coupon.init();
});
//--></script>
