<div class="list-group">
  {% for category in categories %}
    {% if category.category_id == category_id %}
    <a href="{{category.href}}" class="list-group-item active">{{category.name}}</a>
      {% if category.children %}
        {% for children in category.children %}
          {% if children.category_id == category.child_id %}
          <a href="{{children.href}}" class="list-group-item active">&nbsp;&nbsp;&nbsp;- {{children.name}}</a>
          {% else %}
          <a href="{{children.href}}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{children.name}}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% else %}
    <a href="{{category.href}}" class="list-group-item">{{category.name}}</a>
    {% endif %}
  {% endfor %}
</div>
