{% if posts %}
<div id="d_blog_module_related_post" class="bm bm-module bm-post-module bm-related-post">
	<span class="sidebar-heading"><span>{{heading_title}}</span></span>
	<div class="row">
	    {% for post in posts %}
			<article class="post-layout post-grid row">
				<div class="post-thumb">
					<div class="image col-md-6">
						<a href="{{post.href}}">
							<img src="{{post.thumb}}" alt="{{post.image_alt}}" title="{{post.image_title}}" class="img-responsive"/>
						</a>
					</div>
					<div class="post-content col-md-6">
					<div class="post-thumb-heading">
                        {% if (setting.post_thumb.rating_display or setting.post_thumb.date_display) %}
							<div class="row">
								<div class="{% if (setting.post_thumb.rating_display and post.rating) %}col-md-6{% else %}col-md-12{% endif %}">
                                    {% if setting.post_thumb.author_display %}
										<span class="author"><i class="fa fa-user"></i> {{post.author}}</span>
                                    {% endif %}
								</div>
                                {% if (setting.post_thumb.rating_display and post.rating) %}
									<div class="col-md-6">
										<a href="{{post.href}}">
											<div data-rating="{{rating}}" class="rating pull-right rating-{{post.rating}}">
												<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
												<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
												<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
												<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
												<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
											</div>
										</a>
									</div>
                                {% endif %}
							</div>
                        {% endif %}
                        {% if setting.post_thumb.category_label_display %}
							<ul class="category list-unstyled">
                                {% for category in post.categories %}
									<li><a class="{{setting.post_thumb.category_label}}" href="{{category.href}}">{{category.title}}</a></li>
                                {% endfor %}
							</ul>
                        {% endif %}
						<span class="post-title"><a href="{{post.href}}">{{post.title}}</a></span>
                        {% if setting.post_thumb.date_display %}
							<span class="date-published">{{post.date_published}}</span>
                        {% endif %}
					</div>
					<div class="post-thumb-body">
                        {% if setting.post_thumb.description_display %}
							<div class="short-description">{{post.short_description}}</div>
                        {% endif %}
                        {% if (setting.post_thumb.tag_display and post.tags) %}
							<div class="tag">
								<span class="tag-title">{{text_tags}}</span>
                                {% for tag in post.tags %}
									<a href="{{tag.href}}">{{tag.text}}</a>
                                {% endfor %}
							</div>
                        {% endif %}
					</div>
					<div class="post-thumb-footer clearfix">
                        {% if (setting.post_thumb.review_display and post.review) %}<a class="review" href="{{post.href}}"><i class="fa fa-comment"></i> {{text_review}} ({{post.review}})</a>{% endif %}
                        {% if (setting.post_thumb.views_display and post.views) %}<span class="view"><i class="fa fa-eye"></i> {{text_views}} {{post.views}}</span>{% endif %}
                        {% if setting.post_thumb.read_more_display %}<a href="{{post.href}}" class="read-more pull-right">{{text_read_more}}</a>{% endif %}
					</div>
				</div>
				</div>
			</article>
	    {% endfor %}
	</div>
</div>
<script>
	$(function(){
		cols = $('#column-right, #column-left').length;
		if (cols == 2) {
			$('#content #d_blog_module_related_post .post-layout').attr('class', 'post-layout post-grid col-lg-6 col-md-6 col-sm-12 col-xs-12');
		} else if (cols == 1) {
			$('#content #d_blog_module_related_post .post-layout').attr('class', 'post-layout post-grid col-lg-4 col-md-4 col-sm-6 col-xs-12');
		} else {
			$('#content #d_blog_module_related_post .post-layout').attr('class', 'post-layout post-grid col-lg-3 col-md-3 col-sm-6 col-xs-12');
		}
		// $('#column-right #d_blog_module_related_post .post-layout, #column-left #d_blog_module_related_post .post-layout').attr('class', 'post-layout post-grid col-md-12');
	})
</script>
{% endif %}