<div class="panel panel-default">
  <div class="panel-heading">{{heading_title}}</div>
  <div class="list-group">
    {% for filter_group in filter_groups %}
    <a class="list-group-item">{{filter_group.name}}</a>
    <div class="list-group-item">
      <div id="filter-group{{filter_group.filter_group_id}}">
        {% for _filter in filter_group %}
        <div class="checkbox">
          <label>
            <input type="checkbox" name="filter[]" value="{{_filter.filter_id}}" {% if _filter.filter_id in filter_category %}checked="checked"{% endif %} />
            {{_filter.name}}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="panel-footer text-right">
    <button type="button" id="button-filter" class="btn btn-primary">{{button_filter}}</button>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{action}}&filter=' + filter.join(',');
});
//--></script>
