<!-- > d_product_sort -->
<div class="d_product_sort">
    <div class="row align-middle">
        <div class="col-md-3">
            <div class="col col-view-type">
                <div class="btn-group hidden-xs buttons-view">
                    <button type="button" id="grid-view" class="btn" data-toggle="tooltip" title="{{ button_grid }}"><i
                                class="fas fa-th"></i></button>
                    <button type="button" id="list-view" class="btn" data-toggle="tooltip" title="{{ button_list }}"><i
                                class="fas fa-th-list"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-9 sort-options">
            <div class="col col-fave">
                В избранных (3)
            </div>
            <div class="col col-sort">
                <label class="field-label" for="input-sort">{{ text_sort }}</label>
                <div class="select-container">
                    <select id="input-sort" class="field" onchange="location = this.value;">
                        {% for sort in sorts %}
                            {% if sort.value == sort_order %}
                                <option value="{{ sort.href }}" selected="selected">{{ sort.text }}</option>
                            {% else %}
                                <option value="{{ sort.href }}">{{ sort.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-view-count">
                <div class="select-container">
                    <select id="input-limit" class="field" onchange="location = this.value;">
                        {% for limit in limits %}
                            {% if limit.value == limit %}
                                <option value="{{ limit.href }}" selected="selected">{{ limit.text }}</option>
                            {% else %}
                                <option value="{{ limit.href }}">{{ limit.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /> d_product_sort -->
