{{header}}
{% include 'd_theme_twig/template/partial/d_breadcrumb.twig' %}
    {% include 'd_theme_twig/template/partial/d_layout_open.twig' %}
      <h1 class="h1">{{heading_title}}</h1>
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{text_your_details}}</legend>
          {% include 'd_theme_twig/template/partial/d_account_field.twig' %}
        </fieldset>
        <fieldset>
          <legend>{{text_your_address}}</legend>
          {% include 'd_theme_twig/template/partial/d_address_field.twig' with { form:'inline' } %}
        </fieldset>
        {% include 'd_theme_twig/template/partial/d_button.twig' %}
      </form>
  {% include 'd_theme_twig/template/partial/d_layout_close.twig' %}
{{footer}}
<script type="text/javascript"><!--
$(function(){
    d_address_field.init({
        zone_id: '{{zone_id}}',
        text_none: '{{text_none}}',
        text_select: '{{text_select}}'
    });
})
//--></script>
