{{header}}
{% include 'd_visualize/template/partial/d_breadcrumb.twig' %}
    {% include 'd_visualize/template/partial/d_layout_open.twig' %}
      <h1 class="h1">{{heading_title}}</h1>
      <p>{{text_account_already}}</p>
      <p>{{text_signup}}</p>
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{text_your_details}}</legend>
          {% include 'd_visualize/template/partial/d_account_field.twig' with { form: 'inline'} %}
        </fieldset>
        <fieldset>
          <legend>{{text_your_address}}</legend>
          {% include 'd_visualize/template/partial/d_address_field.twig' with { form: 'inline'} %}
        </fieldset>
        <fieldset>
          <legend>{{text_payment}}</legend>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-tax">{{entry_tax}}</label>
            <div class="col-sm-10">
              <input type="text" name="tax" value="{{tax}}" placeholder="{{entry_tax}}" id="input-tax" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{entry_payment}}</label>
            <div class="col-sm-10">
              <div class="radio">
                <label>
                  <input type="radio" name="payment" value="cheque" {% if payment == 'cheque' %}checked="checked"{% endif %} />
                  {{text_cheque}}</label>
              </div>
              <div class="radio">
                <label>
              <input type="radio" name="payment" value="paypal" {% if payment == 'paypal' %}checked="checked"{% endif %} />
                  {{text_paypal}}</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="payment" value="bank" {% if payment == 'bank' %}checked="checked"{% endif %} />
                  {{text_bank}}</label>
              </div>
            </div>
          </div>
          <div class="form-group payment" id="payment-cheque">
            <label class="col-sm-2 control-label" for="input-cheque">{{entry_cheque}}</label>
            <div class="col-sm-10">
              <input type="text" name="cheque" value="{{cheque}}" placeholder="{{entry_cheque}}" id="input-cheque" class="form-control" />
            </div>
          </div>
          <div class="form-group payment" id="payment-paypal">
            <label class="col-sm-2 control-label" for="input-paypal">{{entry_paypal}}</label>
            <div class="col-sm-10">
              <input type="text" name="paypal" value="{{paypal}}" placeholder="{{entry_paypal}}" id="input-paypal" class="form-control" />
            </div>
          </div>
          <div class="payment" id="payment-bank">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-bank-name">{{entry_bank_name}}</label>
              <div class="col-sm-10">
                <input type="text" name="bank_name" value="{{bank_name}}" placeholder="{{entry_bank_name}}" id="input-bank-name" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-bank-branch-number">{{entry_bank_branch_number}}</label>
              <div class="col-sm-10">
                <input type="text" name="bank_branch_number" value="{{bank_branch_number}}" placeholder="{{entry_bank_branch_number}}" id="input-bank-branch-number" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-bank-swift-code">{{entry_bank_swift_code}}</label>
              <div class="col-sm-10">
                <input type="text" name="bank_swift_code" value="{{bank_swift_code}}" placeholder="{{entry_bank_swift_code}}" id="input-bank-swift-code" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-bank-account-name">{{entry_bank_account_name}}</label>
              <div class="col-sm-10">
                <input type="text" name="bank_account_name" value="{{bank_account_name}}" placeholder="{{entry_bank_account_name}}" id="input-bank-account-name" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-bank-account-number">{{entry_bank_account_number}}</label>
              <div class="col-sm-10">
                <input type="text" name="bank_account_number" value="{{bank_account_number}}" placeholder="{{entry_bank_account_number}}" id="input-bank-account-number" class="form-control" />
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>{{text_your_password}}</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-password">{{entry_password}}</label>
            <div class="col-sm-10">
              <input type="password" name="password" value="{{password}}" placeholder="{{entry_password}}" id="input-password" class="form-control" />
              {% if error_password %}
              <div class="text-danger">{{error_password}}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-confirm">{{entry_confirm}}</label>
            <div class="col-sm-10">
              <input type="password" name="confirm" value="{{confirm}}" placeholder="{{entry_confirm}}" id="input-confirm" class="form-control" />
              {% if error_confirm %}
              <div class="text-danger">{{error_confirm}}</div>
              {% endif %}
            </div>
          </div>
        </fieldset>
        {{captcha}}
        {% include 'd_visualize/template/partial/d_button.twig' %}
      </form>
    {% include 'd_visualize/template/partial/d_layout_close.twig' %}
{{footer}}
<script type="text/javascript"><!--
$(function(){
    d_address_field.init({
        zone_id: '{{zone_id}}',
        text_none: '{{text_none}}',
        text_select: '{{text_select}}'
    });
})
$('input[name=\'payment\']').on('change', function() {
  $('.payment').hide();

  $('#payment-' + this.value).show();
});

$('input[name=\'payment\']:checked').trigger('change');
//--></script>
