<div class="vz-product-thumb product-thumb">
    <div class="image">
        <a href="{{ href }}"><img src="{{ thumb }}" alt="{{ name }}" title="{{ name }}" class="img-responsive"/></a>
    </div>
    <div>
        <div class="caption">
            <h4><a href="{{ href }}">{{ name }}</a></h4>
            <p>{{ description }}</p>
            {% if price %}
                <p class="price"> {% if not special %}
                        {{ price }}
                    {% else %} <span class="price-new">{{ special }}</span> <span
                            class="price-old">{{ price }}</span> {% endif %}
                    {% if tax %} <span class="price-tax">{{ text_tax }} {{ tax }}</span> {% endif %} </p>
            {% endif %}
            {% if rating %}
                {% include partial.d_rating.template with  partial.d_rating|merge({rating:rating,static_rating:true}) %}
            {% endif %} </div>
        <div class="button-group">
            {% include partial.button.template with partial.button|merge({
                button:'cart.add('~ product_id ~', '~ minimum ~')',
                style:'secondary',
                classes:'btn-buy',
                text_button:button_cart
            }) %}
            {% include partial.button.template with partial.button|merge({
                button: true,
                style:'secondary',
                classes:'',
                text_button:'<i class="fa fa-heart"></i>',
            }) %}
            {% include partial.button.template with partial.button|merge({
                button: true,
                style:'secondary',
                classes:'',
                text_button:'<i class="fa fa-exchange"></i>',
            }) %}
        </div>
    </div>
</div>
