<div class="thumb-box">
    <div class="product-thumb">
        <div class="product-thumb_image">
            {% if special %}
                {% set priceInt = price|replace({"$": ""}) %}
                {% set specialInt = special|replace({"$": ""}) %}
                <div class="badge">-{{ 100 - (specialInt|number_format * 100 / priceInt|number_format)|number_format(0) }}%</div>
            {% endif %}
            <div class="add-to-fave">
                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}"
                        onclick="wishlist.add('{{ product_id }}');"><i class="fas fa-heart"></i></button>
            </div>
            <a href="{{ href }}"><img src="{{ thumb }}"
                                              alt="{{ name }}"
                                              title="{{ name }}"
                                              class="img-responsive"/></a>
        </div>
        <div class="product-thumb_body">
            <span class="product-name"><a href="{{ href }}">{{ name|length > 30 ? name|slice(0, 30) ~ '...' : name  }}</a></span>
            {% if brand %}
                <div class="product_brand">
                    <span class="product_brand_value">{{ brand }}</span>
                </div>
            {% endif %}
            <p class="product-description">{{ description }}</p>
            {% if price %}
                <div class="product-price-block">
                    {% if not special %}
                        {{ price }}
                    {% else %} <span class="product-price product-price_actual">{{ special }}</span> <span
                            class="product-price product-price_old">{{ price }}</span> {% endif %}
                </div>
            {% endif %}
            <div class="additional-info">

            </div>
            {% include partial.d_rating.template with  partial.d_rating|merge({rating:5}) %}
            <button type="button" class="btn btn-secondary btn-buy btn-block" onclick="cart.add('{{ product_id }}', '{{ minimum }}');">{{ button_cart }}</button>
        </div>
    </div>
</div>