{#{{header}}#}
  {#{% include 'd_visualize/template/component/default.twig' %}#}
  {#{% include 'd_visualize/template/component/d_layout_open.twig' %}#}
      {#<div class="h1">{{heading_title}}</div>#}
      {#{{description}}#}
  {#{% include 'd_visualize/template/component/d_layout_close.twig' %}#}
{#{{footer}}#}
{% extends 'd_visualize/template/layout/base/' ~ layout.base.template ~ '.twig' %}

{% block content %}
    <h1 class="heading-h1">{{heading_title}}</h1>
    <div class="entry-description">
        {{description}}
    </div>
{% endblock %}