{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <h2 class="heading-h2">{{ heading_title }}</h2>
    {% if products %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="{{ products|length + 1 }}"><strong>{{ text_product }}</strong></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ text_name }}</td>
                {% for product in products %}
                    <td><a href="{{ product.href }}"><strong>{{ product.name }}</strong></a></td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ text_image }}</td>
                {% for product in products %}
                    <td class="text-center">
                        {% if product.thumb %}
                            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"
                                 class="img-thumbnail"/>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ text_price }}</td>
                {% for product in products %}
                    <td>
                        {% if product.price %}
                            {% if product.special %}
                                <strike>{{ product.price }}</strike> {{ product.special }}
                            {% else %}
                                {{ product.price }}
                            {% endif %}
                        {% endif %}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ text_model }}</td>
                {% for product in products %}
                    <td>{{ product.model }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ text_manufacturer }}</td>
                {% for product in products %}
                    <td>{{ product.manufacturer }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ text_availability }}</td>
                {% for product in products %}
                    <td>{{ product.availability }}</td>
                {% endfor %}
            </tr>
            {% if review_status %}
                <tr>
                    <td>{{ text_rating }}</td>
                    {% for product in products %}
                        <td>
                            {% include component.d_rating.template with  component.d_rating|merge({
                                static_rating:true,
                                rating:product.rating
                            }) %}
                            {{ product.reviews }}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
            <tr>
                <td>{{ text_summary }}</td>
                {% for product in products %}
                    <td class="description">{{ product.description }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ text_weight }}</td>
                {% for product in products %}
                    <td>{{ product.weight }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ text_dimension }}</td>
                {% for product in products %}
                    <td>{{ product.length }} x {{ product.width }} x {{ product.height }}</td>
                {% endfor %}
            </tr>
            </tbody>
            {% for attribute_group in attribute_groups %}
                <thead>
                <tr>
                    <td colspan="{{ products|length + 1 }}"><strong>{{ attribute_group.name }}</strong></td>
                </tr>
                </thead>
                {% for key,attribute in attribute_group.attribute %}
                    <tbody>
                    <tr>
                        <td>{{ attribute.name }}</td>
                        {% for product in products %}
                            {% if product.attribute[key] %}
                                <td>{{ product.attribute[key] }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </tbody>
                {% endfor %}
            {% endfor %}
            <tr>
                <td></td>
                {% for product in products %}
                    <td>
                        {% include component.button.template with component.button|merge({
                            button:'cart.add('~product.product_id~', '~product.minimum~')',
                            style:'primary',
                            classes: 'btn-block',
                            text_button:button_cart
                        }) %}
                        {% include component.button.template with component.button|merge({
                            link:product.remove,
                            style:'danger',
                            classes: 'btn-block',
                            text_button:button_remove
                        }) %}
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% else %}
        <p>{{ text_empty }}</p>
        {% include component.d_button_continue.template with component.d_button_continue %}
    {% endif %}

{% endblock %}