{{header}}
{% include 'd_theme_twig/template/partial/d_breadcrumb.twig' %}
    {% include 'd_theme_twig/template/partial/d_layout_open.twig' %}

      <div class="row">
        {% if column_left or column_right %}
        <div class="col-sm-6">
        {% else %}
        <div class="col-sm-8">
        {% endif %}

          {% if thumb or images %}
          <div class="product-images">
            <ul class="thumbnails">
              {% if thumb %}
              <li><a class="thumbnail" href="{{popup}}" title="{{heading_title}}"><img src="{{thumb}}" title="{{heading_title}}" alt="{{heading_title}}" /></a></li>
              {% endif %}
              {% if images %}
                {% for image in images %}
                <li class="image-additional">
                  <a class="thumbnail" href="{{image.popup}}" title="{{image.heading_title}}"> <img src="{{image.thumb}}" title="{{image.heading_title}}" alt="{{image.heading_title}}" /></a>
                </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
          {% endif %}

          <div class="product-content">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-description" data-toggle="tab">{{tab_description}}</a></li>
              {% if attribute_groups %}
                <li><a href="#tab-specification" data-toggle="tab">{{tab_attribute}}</a></li>
              {% endif %}
              {% if review_status %}
                <li><a href="#tab-review" data-toggle="tab">{{tab_review}}</a></li>
              {% endif %}
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="tab-description">{{description}}</div>

              {% if attribute_groups %}
              <div class="tab-pane" id="tab-specification">
                <table class="table table-bordered">
                  {% for attribute_group in attribute_groups %}
                  <thead>
                    <tr>
                      <td colspan="2"><strong>{{attribute_group.name}}</strong></td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for attribute in attibute_group.attribute %}
                    <tr>
                      <td>{{attribute.name}}</td>
                      <td>{{attribute.text}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  {% endfor %}
                </table>
              </div>
              {% endif %}

              {% if review_status %}
              <div class="tab-pane" id="tab-review">
                <form class="form-horizontal" id="form-review">
                  <div id="review"></div>
                  <div class="h2">{{text_write}}</div>
                  {% if review_guest %}
                  <div class="form-group required">
                    <div class="col-sm-12">
                      <label class="control-label" for="input-name">{{entry_name}}</label>
                      <input type="text" name="name" value="" id="input-name" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group required">
                    <div class="col-sm-12">
                      <label class="control-label" for="input-review">{{entry_review}}</label>
                      <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                      <div class="help-block">{{text_note}}</div>
                    </div>
                  </div>
                  <div class="form-group required">
                    <div class="col-sm-12">
                      <label class="control-label">{{entry_rating}}</label>
                      <input type="hidden" id="review_rating" name="rating" data-start="0" data-stop="5" data-filled="fa fa-star fa-stack-2x, fa fa-star-o fa-stack-2x" data-empty="fa fa-star-o fa-2x" >
                    </div>
                  </div>
                  {{captcha}}
                  <div class="buttons clearfix">
                    <div class="pull-right">
                      <button type="button" id="button-review" data-loading-text="{{text_loading}}" class="btn btn-primary">{{button_continue}}</button>
                    </div>
                  </div>
                  {% else %}
                    {{text_login}}
                  {% endif %}
                </form>
              </div>
              {% endif %}
            </div>
          </div>
        </div>

        {% if column_left or column_right %}
          <div class="col-sm-6">
        {% else %}
          <div class="col-sm-4">
        {% endif %}
          <div class="product-info">
            <div class="btn-group">
              <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{button_wishlist}}" onclick="wishlist.add('{{product_id}}');"><i class="fa fa-heart"></i></button>
              <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{button_compare}}" onclick="compare.add('{{product_id}}');"><i class="fa fa-exchange"></i></button>
            </div>
            <div class="h1">{{heading_title}}</div>
            <ul class="list-unstyled">
              {% if manufacturer %}
                <li>{{text_manufacturer}} <a href="{{manufacturers}}">{{manufacturer}}</a></li>
              {% endif %}
              <li>{{text_model}} {{model}}</li>
              {% if reward %}
                <li>{{text_reward}} {{reward}}</li>
              {% endif %}
              <li>{{text_stock}} {{stock}}</li>
            </ul>
          </div>
          {% if price %}
          <div class="product-price">
            <ul class="list-unstyled">
              {% if not special %}
                <li>
                  <div class="h2">{{price}}</div>
                </li>
              {% else %}
                <li><span style="text-decoration: line-through;">{{price}}</span></li>
                <li>
                  <div class="h2">{{special}}</div>
                </li>
              {% endif %}
              {% if tax %}
                <li>{{text_tax}} {{tax}}</li>
              {% endif %}
              {% if points %}
                <li>{{text_points}} {{points}}</li>
              {% endif %}
              {% if discounts %}
                <li>
                  <hr>
                </li>
                {% for discount in discounts %}
                <li>{{discount.quantity}}{{text_discount}}{{discount.price}}</li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
          {% endif %}

          <div id="product" class="product-options">
            {% if options %}
            <hr>
            <div class="h3">{{text_option}}</div>

            {% for option in options %}

              {% if type == 'select' %}
              <div class="form-group{% if required %} required{% endif %}">
                <label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
                <select name="option[{{option.product_option_id}}]" id="input-option{{option.product_option_id}}" class="form-control">
                  <option value="">{{text_select}}</option>
                  {% for option_value in option.product_option_value %}
                  <option value="{{option_value.product_option_value_id}}">{{option_value.name}}
                  {% if option_value.price %}
                    ({{option_value.price_prefix}}{{option_value.price}})
                  {% endif %}
                  </option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}


              {% if type == 'radio'%}
              <div class="form-group{% if required %} required{% endif %}">
                <label class="control-label">{{option.name}}</label>
                <div id="input-option{{option.product_option_id}}">
                  {% for option_value in option.product_option_value %}
                  <div class="radio">
                    <label>
                      <input type="radio" name="option[{{option.product_option_id}}]" value="{{option_value.product_option_value_id}}" />
                      {{name}}
                      {% if option_value.price %}
                        ({{option_value.price_prefix}}{{option_value.price}})
                      {% endif %}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}

              {% if type == 'checkbox' %}
              <div class="form-group{% if required %} required{% endif %}">
                <label class="control-label">{{option.name}}</label>
                <div id="input-option{{option.product_option_id}}">
                  {% for option_value in option.product_option_value %}
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="option[{{option.product_option_id}}][]" value="{{option_value.product_option_value_id}}" />
                      {{option_value.name}}
                      {% if option_value.price %}
                        ({{option_value.price_prefix}}{{option_value.price}})
                      {% endif %}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}

              {% if type == 'image' %}
              <div class="form-group{% if required %} required{% endif %}">
                <label class="control-label">{{option.name}}</label>
                <div id="input-option{{option.product_option_id}}">
                  {% for option_value in option.product_option_value %}
                  <div class="radio">
                    <label>
                      <input type="radio" name="option[{{option.product_option_id}}]" value="{{option_value.product_option_value_id}}" />
                      <img src="{{option_value.image}}" alt="{{option_value.name}} {% if option_value.price %}({{option_value.price_prefix}}{{option_value.price}}){% endif %}" class="img-thumbnail" /> {{option_value.name}}
                      {% if option_value.price %}
                        ({{option_value.price_prefix}}{{option_value.price}})
                      {% endif %}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}

            {% if type == 'text' %}
            <div class="form-group{% if required %} required{% endif %}">
              <label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
              <input type="text" name="option[{{option.product_option_id}}]" value="{{option.value}}" placeholder="{{option.name}}" id="input-option{{option.product_option_id}}" class="form-control" />
            </div>
            {% endif %}

            {% if type == 'textarea' %}
            <div class="form-group{% if required %} required{% endif %}">
              <label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
              <textarea name="option[{{option.product_option_id}}]" rows="5" placeholder="{{option.name}}" id="input-option{{option.product_option_id}}" class="form-control">{{option.value}}</textarea>
            </div>
            {% endif %}

            {% if type == 'file' %}
            <div class="form-group{% if required %} required{% endif %}">
              <label class="control-label">{{option.name}}</label>
              <button type="button" id="button-upload{{option.product_option_id}}" data-loading-text="{{text_loading}}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{button_upload}}</button>
              <input type="hidden" name="option[{{option.product_option_id}}]" value="" id="input-option{{option.product_option_id}}" />
            </div>
            {% endif %}

            {% if type == 'date' %}
            <div class="form-group{% if required %} required{% endif %}">
              <label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
              <div class="input-group date">
                <input type="text" name="option[{{option.product_option_id}}]" value="{{option.value}}" data-date-format="YYYY-MM-DD" id="input-option{{option.product_option_id}}" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}

            {% if type == 'datetime' %}
            <div class="form-group{% if required %} required{% endif %}">
              <label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
              <div class="input-group datetime">
                <input type="text" name="option[{{option.product_option_id}}]" value="{{option.value}}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{option.product_option_id}}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}

            {% if type == 'time' %}
            <div class="form-group{% if required %} required{% endif %}">
              <label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
              <div class="input-group time">
                <input type="text" name="option[{{option.product_option_id}}]" value="{{option.value}}" data-date-format="HH:mm" id="input-option{{option.product_option_id}}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %} {#-- options #}

            {% if recurrings %}
              <hr>
              <div class="h3">{{text_payment_recurring}}</div>
              <div class="form-group required">
                <select name="recurring_id" class="form-control">
                  <option value="">{{text_select}}</option>
                  {% for recurring in recurrings %}
                  <option value="{{recurring.recurring_id}}">{{recurring.name}}</option>
                  {% endfor %}
                </select>
                <div class="help-block" id="recurring-description"></div>
              </div>
            {% endif %}
            <div class="form-group">
              <label class="control-label" for="input-quantity">{{entry_qty}}</label>

              <div id="quantity_control" class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-primary decrease hidden-xs" data-product_id="{{product_id}}"><i class="fa fa-chevron-down"></i></button>
                </span>
                <input type="text" name="quantity" value="{{minimum}}" size="2" id="input-quantity" class="form-control" />
                <span class="input-group-btn">
                  <button class="btn btn-primary increase hidden-xs" data-product_id="{{product_id}}"><i class="fa fa-chevron-up"></i></button>
                </span>
              </div>



              <input type="hidden" name="product_id" value="{{product_id}}" />
              <br />
              <button type="button" id="button-cart" data-loading-text="{{text_loading}}" class="btn btn-primary btn-lg btn-block">{{button_cart}}</button>
            </div>
            {% if minimum > 1 %}
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{text_minimum}}</div>
            {% endif %}
          </div>
          {% if review_status %}
          <div class="product-rating">
            <div>
              {% include 'd_theme_twig/template/partial/d_rating.twig' %}
              <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{reviews}}</a> / <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{text_write}}</a>
            </div>
            <hr>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
              <a class="addthis_button_tweet"></a>
              <a class="addthis_button_pinterest_pinit"></a>
              <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
            <!-- AddThis Button END -->
          </div>
          {% endif %}
        </div>
      </div>

        {% if products %}
        <div class="h3">{{text_related}}</div>
        <div class="row">
          {% for product in products %}
            {% include 'd_theme_twig/template/partial/d_product_thumb.twig' with product %}
          {% endfor %}
        </div>
        {% endif %}

        {% if tags %}
        <p>{{text_tags}}
          {% for tag in tags %}
            <a href="{{tag.href}}">{{tag.tag}}</a>
          {% endfor %}
        </p>
        {% endif %}

        {% include 'd_theme_twig/template/partial/d_layout_close.twig' %}
{{footer}}
<script type="text/javascript"><!--
$(document).ready(function() {
	Product.init({
        product_id: '<?php echo $product_id; ?>',
        $quantity: $('#input-quantity'),
        minimum: '<?php echo $minimum; ?>'
    });
});
//--></script>
