{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <div id="product-search">
        <div class="h2">{{ heading_title }}</div>

        <label class="control-label" for="input-search">{{ entry_search }}</label>
        <div class="row">
            <div class="col-sm-4">
                {% include partial.input.template with partial.input|merge({
                type:'text',
                id:'input-search',
                name:'search',
                value:search,
                placeholder:text_keyword ,
                }) %}
                {#<input type="text" name="search" value="{{search}}" placeholder="{{text_keyword}}" id="input-search" class="form-control" />#}
            </div>
            <div class="col-sm-3">
                <select name="category_id" class="form-control">
                    <option value="0">{{ text_category }}</option>
                    {% for category in categories %}
                        {% if category.category_id == category_id %}
                            <option value="{{ category.category_id }}" selected="selected">{{ category.name }}</option>
                        {% else %}
                            <option value="{{ category.category_id }}">{{ category.name }}</option>
                        {% endif %}
                        {% for child in children %}
                            {% if child.category_id == category_id %}
                                <option value="{{ child.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ child.name }}</option>
                            {% else %}
                                <option value="{{ child.category_id }}">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ child.name }}</option>
                            {% endif %}

                            {% for child in children %}
                                {% if child.category_id == category_id %}
                                    <option value="{{ child.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ child.name }}</option>
                                {% else %}
                                    <option value="{{ child.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ child.name }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3">

                <label class="checkbox-inline">
                    {% include partial.input.template with partial.input|merge({
                    type:'checkbox',
                    name:'sub_category',
                    value:'1',
                    checked:sub_category,
                    }) %}
                    {{ text_sub_category }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label class="checkbox-inline">
                    {% include partial.input.template with partial.input|merge({
                    type:'checkbox',
                    id:'description',
                    name:'description',
                    value:'1',
                    checked:description,
                    }) %}
                    {{ entry_description }}
                </label>
                {% include partial.input.template with partial.input|merge({
                type:'button',
                id:'button-search',
                style:'primary',
                value:button_search,
                }) %}
            </div>
        </div>
        {#<input type="button" value="{{button_search}}" id="button-search" class="btn btn-primary" />#}
        <div class="h2">{{ text_search }}</div>
        {% include partial.d_product_list.template with  partial.d_product_list %}

        <script type="text/javascript"><!--
			$(document).ready(function () {
				Search.init();
			});
			--></script>
    </div>
{% endblock %}
