<div class="cart-wrapper">
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <div class="row">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="col-md-12">
            <div class="row cart">
                <div class="col-md-12 cart_header">
                    <div class="row">
                        <div class="col-md-1 cart_cell cart_cell--image cart_cell--image-text">
                            <span>{{ column_image }}</span></div>
                        <div class="col-md-2 cart_cell cart_cell--description cart_cell--description-text">
                            <span>{{ column_name }}</span></div>
                        <div class="col-md-1 cart_cell cart_cell--size cart_cell--size-text"><span>Размер</span></div>
                        <div class="col-md-6 cart_cell cart_cell--quantity cart_cell--quantity-text">
                            <span>{{ column_quantity }}</span></div>
                        <div class="col-md-2 cart_cell cart_cell--price cart_cell--price-text">{{ column_price }}</div>
                    </div>
                </div>
                <div class="col-md-12 cart_body">
                    {% for product in products %}
                        <div class="row cart_item">
                            <div class="col-md-1 cart_cell cart_cell--image pl-0">
                                {% if product.thumb %}
                                    <a href="{{ product.href }}" class="image-wrap">
                                        <img src="{{ product.thumb }}" alt="{{ product.name }}"
                                             title="{{ product.name }}" class="image">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-md-2 cart_cell cart_cell--description">
                                <a href="{{ product.href }}">{{ product.name }}</a>
                                {% if not product.stock %}
                                    <span class="text-danger stock">out of stock</span>
                                {% endif %}
                                {% if product.option %}
                                    {% for option in product.option %}
                                        <br/>
                                        <small>{{ option.name }}: {{ option.value }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-1 cart_cell cart_cell--size">
                                <input type="number" name="size" value="1" size="1" class="field">
                            </div>
                            <div class="col-md-6 cart_cell cart_cell--quantity">
                                {% include component.product_quantity.template with(component.product_quantity)|merge({
                                product_id:product.cart_id ,
                                quantity:product.quantity,
                                minimum:1,
                                cart_page:true,
                                }) %}
                                {% include component.product_remove.template with({product_id:product.cart_id}) %}
                            </div>
                            <div class="col-md-2 cart_cell cart_cell--price">
                                <div class="price-wrapper">
                                    <span class="item_price item_price--old"></span>
                                    <span class="item_price item_price--actual">{{ product.price }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12 cart_totals totals">
                    {% for total in totals %}
                        <div class="row">
                            <div class="col-md-10 text-right">
                                <span class="text-left totals_total">{{ total.title }}:</span>
                            </div>
                            <div class="col-md-2">
                                <span class="text-left totals_price item_price item_price--total">{{ total.text }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include partial.button.template with partial.button|merge({
            button: true,
            type:'submit',
            style:'submit',
            classes:'hidden',
            text_button:'',
            title:'',
            }) %}
            {#<button type="submit" class="btn btn-vis hidden btn-submit"></button>#}
        </form>
    </div>
    {% if coupon or voucher or reward or shipping %}
        <div class="row">
            <h2>{{ text_next }}</h2>
            <p>{{ text_next_choice }}</p>
            <div class="panel-group" id="accordion">{{ coupon }}{{ voucher }}{{ reward }}{{ shipping }}</div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            {% include partial.d_button.template with({
            back: continue,
            button_back:button_shopping,
            continue:checkout,
            button_continue:button_checkout,
            button_submit:'',
            position:'justify-content-end'
            }) %}
        </div>
    </div>
</div>
<script>
</script>
