<div class="vz-product-product">
<div class="row">
    {% if column_left or column_right %}
    <div class="col-sm-6">
        {% else %}
        <div class="col-sm-12 col-md-6">
            {% endif %}
            {% if thumb or images %}
                <div class="vz-product_product__images">
                    {% if thumb %}
                        <a class="thumbnail vz-thumbnail thumbnail-main" href="{{ popup }}" title="{{ heading_title }}">
                            <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/>
                        </a>
                    {% endif %}
                    {% if images %}
                        <div class="vz-product_product__images_additionals">
                            {% for image in images %}
                                <a class="thumbnail vz-thumbnail" href="{{ image.popup }}" title="{{ image.heading_title }}">
                                    <img src="{{ image.thumb }}" title="{{ image.heading_title }}"
                                         alt="{{ image.heading_title }}"/>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-sm-6">
            <h1 class="heading-h1">{{ heading_title }}</h1>
            <div id="product" class="product-info">
                {% if review_status %}
                    <div class="product-rating">
                        {% include component.d_rating.template with  component.d_rating|merge({rating:rating,static_rating:true}) %}
                        <div class="review-link">
                            <a href="" data-anchor="#review" class="link js-anchor"
                               onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a>
                        </div>
                    </div>
                {% endif %}
                <span>{{ text_model }} {{ model }}</span>
                {% if manufacturer %}
                    <div class="product_brand heading-h3">
                        <span class="product_brand_value">{{ manufacturer }}</span>
                    </div>
                {% endif %}
                {% if price %}
                    <div class="product-price-block">
                        {% if not special %}
                            <span class="product-price product-price_actual like-heading-h1 bold">{{ price }}</span>
                        {% else %}
                            <span class="product-price product-price_actual like-heading-h1 bold">{{ special }}</span>
                            <span class="product-price product-price_old like-heading-h1 bold">{{ price }}</span>
                        {% endif %}
                    </div>
                    {% if discounts %}
                        <ul class="discount">
                            {% for discount in discounts %}
                                <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
                {# *** OPTIONS *** #}
                {% include component.product_options.template %}
                {# *** END OPTIONS *** #}
                <h3>{{ entry_qty }}</h3>
                <div class="form-group">
                    <input type="hidden" name="product_id" value="{{ product_id }}"/>

                    {% include component.product_quantity.template with({product_id:product_id,quantity:minimum,minimum:minimum}) %}

                    <div class="d-flex align-items-center ">
                        {% include component.button.template with {button:{
                        button: true,
                        id:'button-cart',
                        style:'secondary',
                        text_button:button_cart,
                        title:button_cart,
                        }} %}
                        {#<button type="button" id="button-cart" data-loading-text="{{ text_loading }}"#}
                        {#class="btn btn-vis btn-secondary">{{ button_cart }}</button>#}
                        <div class="wish" onclick="wishlist.add('{{ product.product_id }}');">
                            <div class="add-to-fave">
                                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}">
                                    <i class="fas fa-heart"></i></button>
                            </div>
                            <span>{{ button_wishlist }}</span>
                        </div>
                    </div>

                </div>
                {% if minimum > 1 %}
                    <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                {% endif %}
            </div>
        </div>
        {% if tags %}
            <p>{{ text_tags }}
                {% for tag in tags %}
                    <a href="{{ tag.href }}">{{ tag.tag }}</a>
                {% endfor %}
            </p>
        {% endif %}
    </div>
</div>
<div class="row down-side">
    <div class="col-12 col-sm-6">
        <div class="review-wrap">
            <h3>{{ tab_review }}</h3>
            {% include component.d_review.template with component.d_review %}
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="product-description">
            <div class="accordion">
                <div data-tab="description" class="accordion_tab">
                    <div data-toggle="collapse" data-target="#collapseDescription" aria-expanded="true"
                         aria-controls="collapseCharacteristics" class="accordion_tab-title">{{ tab_description }}
                        <i class="fas fa-angle-right tab_angle"></i>
                    </div>
                    <div id="collapseDescription"
                         class="accordion_tab-content collapse in">
                        {{ description }}
                    </div>
                </div>
                <div data-tab="characteristics" class="accordion_tab">
                    <div data-toggle="collapse" data-target="#collapseCharacteristics" aria-expanded="true"
                         aria-controls="collapseCharacteristics" class="accordion_tab-title">{{ tab_attribute }}
                        <i class="fas fa-angle-right tab_angle"></i>
                    </div>
                    <div id="collapseCharacteristics"
                         class="accordion_tab-content collapse in">
                        {% if attribute_groups %}
                            <div class="attributes-group">
                                {% for attribute_group in attribute_groups %}
                                    {% for attribute in attribute_group.attribute %}
                                        <div class="attribute">
                                            <span>{{ attribute.name }}: </span>
                                            <span>{{ attribute.text }}</span>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div data-tab="delivery" class="accordion_tab">
                    <div data-toggle="collapse" data-target="#collapseDelivery" aria-expanded="false"
                         aria-controls="collapseDelivery" class="accordion_tab-title collapsed">Delivery
                        <i class="fas fa-angle-right tab_angle"></i>
                    </div>
                    <div id="collapseDelivery" class="accordion_tab-content collapse"></div>
                </div>

            </div>
        </div>
    </div>
</div>
{% if products %}
    <h1 class="heading-h1 text-center">{{ text_related }}</h1>
    <div class="row products-list">
        {% for product in products %}
            <div class="product-layout product-grid col-sm-2 col-xs-6">
                {% include component.d_product_thumb.template with component.d_product_thumb|merge(product) %}
            </div>
        {% endfor %}
    </div>
{% endif %}
</div>
<script type="text/javascript"><!--
	$(document).ready(function () {

		Product.init({
			product_id: '{{ product_id }}',
			$quantity: $('.input-quantity'),
			minimum: '{{ minimum }}'
		});

		$('.js-anchor').click(function (e) {
			e.preventDefault();
			var moveTo = $(this).data('anchor');

			$('html, body').animate({
				scrollTop: $(moveTo).offset().top
			}, 500);
		});
	});
	//-->
</script>
