<div class="vz-product-product vz-product-product--default">
        <div class="row">
            {% if column_left or column_right %}
                {% set class = 'col-sm-6' %}
            {% else %}
                {% set class = 'col-sm-8' %}
            {% endif %}
            <div class="{{ class }}">
                {% include component.product_thumbnails.template %}
                {% include component.product_tabs.template %}
            </div>
            {% if column_left or column_right %}
                {% set class = 'col-sm-6' %}
            {% else %}
                {% set class = 'col-sm-4' %}
            {% endif %}
            <div class="{{ class }}">
                <div class="btn-group">
                    <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{ button_wishlist }}"
                            onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart"></i></button>
                    <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{ button_compare }}"
                            onclick="compare.add('{{ product_id }}');"><i class="fa fa-exchange"></i></button>
                </div>
                <h1>{{ heading_title }}</h1>
                <ul class="list-unstyled">
                    {% if manufacturer %}
                        <li>{{ text_manufacturer }} <a href="{{ manufacturers }}">{{ manufacturer }}</a></li>
                    {% endif %}
                    <li>{{ text_model }} {{ model }}</li>
                    {% if reward %}
                        <li>{{ text_reward }} {{ reward }}</li>
                    {% endif %}
                    <li>{{ text_stock }} {{ stock }}</li>
                </ul>
                {% if price %}
                    <ul class="list-unstyled">
                        {% if not special %}
                            <li>
                                <h2>{{ price }}</h2>
                            </li>
                        {% else %}
                            <li><span style="text-decoration: line-through;">{{ price }}</span></li>
                            <li>
                                <h2>{{ special }}</h2>
                            </li>
                        {% endif %}
                        {% if tax %}
                            <li>{{ text_tax }} {{ tax }}</li>
                        {% endif %}
                        {% if points %}
                            <li>{{ text_points }} {{ points }}</li>
                        {% endif %}
                        {% if discounts %}
                            <li>
                                <hr>
                            </li>
                            {% for discount in discounts %}
                                <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                {% endif %}
                <div id="product">
                    {% include component.product_options.template %}
                    {% if recurrings %}
                        <hr>
                        <h3>{{ text_payment_recurring }}</h3>
                        <div class="form-group required">
                            <select name="recurring_id" class="form-control">
                                <option value="">{{ text_select }}</option>
                                {% for recurring in recurrings %}
                                    <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="help-block" id="recurring-description"></div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
                        <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity"
                               class="form-control"/>
                        <input type="hidden" name="product_id" value="{{ product_id }}"/>
                        <br/>
                        <button type="button" id="button-cart" data-loading-text="{{ text_loading }}"
                                class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
                    </div>
                    {% if minimum > 1 %}
                        <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                    {% endif %}</div>
                {% if review_status %}
                    {% include partial.d_rating.template with partial.d_rating|merge({
                        static_rating:true
                    }) %}
                    {#<div class="rating">#}
                        {#<p>{% for i in 1..5 %}#}
                                {#{% if rating < i %}<span class="fa fa-stack"><i#}
                                            {#class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span#}
                                        {#class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i#}
                                            {#class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}#}
                            {#{% endfor %} <a href=""#}
                                            {#onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a>#}
                            {#/ <a href=""#}
                                 {#onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ text_write }}</a>#}
                        {#</p>#}
                        {#<hr>#}
                        {#<!-- AddThis Button BEGIN -->#}
                        {#<div class="addthis_toolbox addthis_default_style" data-url="{{ share }}"><a#}
                                    {#class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a#}
                                    {#class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a#}
                                    {#class="addthis_counter addthis_pill_style"></a></div>#}
                        {#<script type="text/javascript"#}
                                {#src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>#}
                        {#<!-- AddThis Button END -->#}
                    {#</div>#}
                {% endif %} </div>
        </div>
        {% if products %}
            <h3>{{ text_related }}</h3>
            <div class="row"> {% set i = 0 %}
                {% for product in products %}
                    {% if column_left and column_right %}
                        {% set class = 'col-xs-8 col-sm-6' %}
                    {% elseif column_left or column_right %}
                        {% set class = 'col-xs-6 col-md-4' %}
                    {% else %}
                        {% set class = 'col-xs-6 col-sm-3' %}
                    {% endif %}
                    <div class="{{ class }}">
                        {% include partial.d_product_thumb.template with partial.d_product_thumb %}
                    </div>
                    {% if column_left and column_right and (i + 1) % 2 == 0 %}
                        <div class="clearfix visible-md visible-sm"></div>
                    {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
                        <div class="clearfix visible-md"></div>
                    {% elseif (i + 1) % 4 == 0 %}
                        <div class="clearfix visible-md"></div>
                    {% endif %}
                    {% set i = i + 1 %}
                {% endfor %} </div>
        {% endif %}
        {% if tags %}
            <p>{{ text_tags }}
                {% for i in 0..tags|length %}
                    {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
                    {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
                {% endfor %} </p>
        {% endif %}
</div>
<script type="text/javascript"><!--
	$(document).ready(function () {
		Product.init({
			product_id: '{{ product_id }}',
			$quantity: $('.input-quantity'),
			minimum: '{{ minimum }}'
		});
		$('.js-anchor').click(function (e) {
			e.preventDefault();
			var moveTo = $(this).data('anchor');

			$('html, body').animate({
				scrollTop: $(moveTo).offset().top
			}, 500);
		});
	});
	//-->
</script>
