{{ description }}
<h3 class="heading-h3">{{ heading_title }}</h3>
{% include partial.d_product_list.template with  partial.d_product_list %}
    {% if not categories %}
        {% if not products %}
            <p>{{ text_empty }}</p>
            <div class="buttons">
                <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary"
                                           data-loading-text="{{ text_loading }}">{{ button_continue }}</a></div>
            </div>
        {% endif %}
    {% endif %}
