{% set form_group_class = 'form-group d-vis vis-' ~  type  %}
{% set form_group_label_class = 'control-label vis-' ~  type %}
{% set form_group_input_class = 'form-control d-vis vis-' ~  type %}
{% set form_group_div_class = '' %}
{% if classes %}
    {% set form_group_input_class = form_group_input_class ~ ' ' ~ classes %}
{% endif %}

{% if required %}
    {% set form_group_class = form_group_class ~ ' required' %}
{% endif %}

{% if form == 'inline' %}
    {% set form_group_class = form_group_class ~ ' row' %}
    {% set form_group_label_class = form_group_label_class ~ ' col-sm-2' %}
    {% set form_group_div_class = form_group_div_class ~ ' col-sm-10' %}
{% endif %}

{% if type=='email' or type=='text' or type=='submit' or type=='password' %}
    <div class="{{ form_group_class }} ">
        <label class="{{ form_group_label_class }} "
               for="{{ id }}"><span>{{ text_input }}</span></label>
        <div class="{{ form_group_div_class }}">
            {% include partial.input.template with partial.input|merge({
            type:type,
            id:id,
            name:name,
            value:value,
            placeholder:placeholder,
            }) %}
            {% if error %}
                <div class="text-danger">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% elseif type=='date' %}
    <div class="{{ form_group_class }} ">
        <label class="{{ form_group_label_class }} "
               for="{{ id }}"><span>{{ text_input }}</span></label>
        <div class="{{ form_group_div_class }}">
            <div class="input-group date">
                <input type="text" name="{{ name }}" value="{{ value }}"
                       placeholder="{{ placeholder }}"
                       data-date-format="YYYY-MM-DD" id="{{ id }}"
                       class="{{ form_group_input_class }}"/><span class="input-group-btn">
                        {% include partial.button.template with partial.button|merge({
                        button: true,
                        style:'primary',
                        classes:'',
                        text_button:'<i class="fa fa-calendar"></i>',
                        }) %}
                </span></div>
            {% if error %}
                <div class="text-danger">{{ error }}</div>
            {% endif %}
        </div>
    </div>
{% elseif type=='radio' %}
    <div class="{{ form_group_class }} ">
        <label class="{{ form_group_label_class }} "
               for="{{ id }}"><span>{{ text_input }}</span></label>
        <div class="{{ form_group_div_class }}">
        {% for radio in radio_values %}
            {% include partial.input.template with partial.input|merge({
            type:type,
            name: name,
            value: radio[radio_values_val] ,
            checked: radio[radio_values_val] == radio_values_check,
            text_input:radio[radio_values_name]
            }) %}
        {% endfor %}
        {% if error %}
            <div class="text-danger">{{ error }}</div>
        {% endif %}
        </div>
    </div>
{% elseif type=='textarea' %}
    <div class="{{ form_group_class }} ">
        <label class="{{ form_group_label_class }} "
               for="{{ id }}"><span>{{ text_input }}</span></label>
        <div class="{{ form_group_div_class }}">
            <textarea
                    name="{{ name }}"
                    rows="10"
                    placeholder="{{ placeholder }}"
                    id="{{ id }}"
                    class="{{ form_group_input_class }}">
                {{ value }}
            </textarea>
        </div>
    </div>
{% endif %}