<header class="header">
    <div id="header_top" class="header-row header-top">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="top-links">
                            <ul class="list-inline">
                                <li>{{language}}</li>
                                <li>
                                    {% if d_information %}
                                    <div id="d_information" class="dropdown information">
                                        <a class="dropdown-toggle title" data-toggle="dropdown">{{text_information}} <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            {% for info in d_information %}
                                            <li><a href="{{info.href}}">{{info.title}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </li>
                                <li>{{currency}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 text-right">
                        <div id="d_menu" class="top-links">
                            <ul class="list-inline">
                                <li><a href="{{contact}}" class="title"><i class="fa fa-phone"></i> <span class="hidden-xs hidden-sm hidden-md">{{telephone}}</span></a></li>
                                <li class="dropdown">
                                    <a href="{{account}}" class="dropdown-toggle title" title="{{text_account}}" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{text_account}}</span> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        {% if logged %}
                                        <li><a href="{{account}}">{{text_account}}</a></li>
                                        <li><a href="{{order}}">{{text_order}}</a></li>
                                        <li><a href="{{transaction}}">{{text_transaction}}</a></li>
                                        <li><a href="{{download}}">{{text_download}}</a></li>
                                        <li><a href="{{logout}}">{{text_logout}}</a></li>
                                        {% else %}
                                        <li><a href="{{register}}">{{text_register}}</a></li>
                                        <li><a href="{{login}}">{{text_login}}</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a href="{{wishlist}}" class="title" id="wishlist-total" title="{{text_wishlist}}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{text_wishlist}}</span></a></li>
                                <li><a href="{{shopping_cart}}" class="title"  title="{{text_shopping_cart}}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{text_shopping_cart}}</span></a></li>
                                <li><a href="{{checkout}}" class="title"  title="{{text_checkout}}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{text_checkout}}</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header_center" class="header-row header-center">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div id="logo">
                          {% if logo %}
                          <a href="{{home}}"><img src="{{logo}}" title="{{name}}" alt="{{name}}" class="img-responsive" /></a>
                          {% else %}
                          <h1><a href="{{home}}">{{name}}</a></h1>
                          {% endif %}
                        </div>
                    </div>
                    <div class="col-md-5">{{search}}</div>
                    <div class="col-md-3">{{cart}}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="header_bottom" class="header-row header-bottom">
        {% if categories %}
            <div class="container">
              <nav id="menu" class="navbar">
                <div class="navbar-header"><span id="category" class="visible-xs">{{text_category}}</span>
                  <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                    {% for category in categories %}
                    {% if category.children %}
                    <li class="dropdown"><a href="{{category.href}}" class="dropdown-toggle" data-toggle="dropdown">{{category.name}}</a>
                      <div class="dropdown-menu">
                        <div class="dropdown-inner">
                          {% for children in category.children|batch((category.children)|length / category.column) %}
                          <ul class="list-unstyled">
                            {% for child in children %}
                            <li><a href="{{child.href}}">{{child.name}}</a></li>
                            {% endfor %}
                          </ul>
                          {% endfor %}
                        </div>
                        <a href="{{category.href}}" class="see-all">{{text_all}} {{category.name}}</a> </div>
                    </li>
                    {% else %}
                    <li><a href="{{category.href}}">{{category.name}}</a></li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </nav>
            </div>
        {% endif %}
    </div>
</header>
<script type="text/javascript">
	/* Search */
$('#search input[name=\'search\']').parent().find('button').on('click', function() {
	url = $('base').attr('href') + 'index.php?route=product/search';

	var value = $('header input[name=\'search\']').val();

	if (value) {
		url += '&search=' + encodeURIComponent(value);
	}

	location = url;
});

$('#search input[name=\'search\']').on('keydown', function(e) {
	if (e.keyCode == 13) {
		$('header input[name=\'search\']').parent().find('button').trigger('click');
	}
});
</script>