<form class="vz-review vz-review--default form-horizontal" id="form-review">
    <div id="review"></div>
    <h2>{{ text_write }}</h2>
    {% if review_guest %}
        {% include component.form_group.template with component.form_group|merge({
            type:'text',
            id:'input-name',
            name:'name',
            required:true,
            value:customer_name,
            text_input:entry_name ,
            placeholder:'' ,
        }) %}
        {% include component.form_group.template with component.form_group|merge({
            type:'textarea',
            required:true,
            id:'input-review',
            name:'text',
            value:'',
            classes:'',
            text_input:entry_review,
        }) %}
        <div class="help-block">{{ text_note }}</div>

        <div class="form-group required">
            <div class="col-sm-12">
                <label class="control-label">{{ entry_rating }}</label>
                <div class="vz-review__rating">
                    {{ entry_bad }}&nbsp;
                    {% include component.d_rating.template with component.d_rating %}
                    &nbsp;{{ entry_good }}
                </div>
                &nbsp;&nbsp;&nbsp;
            </div>
        </div>
        {{ captcha }}
        <div class="buttons clearfix">
            <div class="pull-right">
                {% include component.button.template with component.button|merge({
                    id:'button-review',
                    style:'primary',
                    data_loading:text_loading,
                    button:true,
                    text_button: button_continue
                }) %}

            </div>
        </div>
    {% else %}
        {{ text_login }}
    {% endif %}
</form>
