{% set input_classes = 'form-control' %}
{% if classes %}
    {% set input_classes = input_classes ~ ' ' ~ classes %}
{% endif %}
{% if type=='button' %}
    {% set button = true %}
{% endif %}
{% if button %}
    {% set input_classes = classes ~ ' btn vz-button btn-' ~ style %}
{% endif %}
{% if not type %}
    {% set type = 'text' %}
{% endif %}
<div class="vz-input vz-input_{{ type }} {% if size %} vz-input_{{ size }} {% endif %}">
{% if type == 'checkbox' %}
    <label class="vz-input__label">
        <input type="{{ type }}"
               class="vz-input__input {{ classes }} "
               name="{{ name }}"
               value="{{ value }}"
               {% if checked %}checked="checked"{% endif %}
        />
        {% if text_input %}
        <div class="vz-input__text"></div>
        {{ text_input }}
        {% endif %}
    </label>
{% elseif type=='select' %}
    <div class="vz-input__input {{ classes }} select-container">
        <select name="{{ name }}" id="{{ id }}" class="vz-input__input {{ input_classes }} " onchange="{{ on_change }}">
            {% if placeholder %}
                <option value="">{{ placeholder }}</option>
            {% endif %}
            {% for option in select_values %}
                <option value="{{ option[select_values_val] }}"
                        {% if option[select_values_check_val] == select_values_check %} selected="selected" {% endif %}>
                    {{ option[select_values_name] }}
                </option>
            {% endfor %}
        </select>
    </div>
    {% if text_input %}
        <label class="vz-input__label" for="{{ id }}">{{ text_input }}</label>
    {% endif %}
{% elseif type=='radio' %}
    <label class="vz-input__label" id="{{ id }}">
        <input type="vz-input__input"
               id="{{ id }}"
               class="{{ classes }} "
               name="{{ name }}"
               value="{{ value }}"
               {% if checked %}checked="checked"{% endif %}
        />
        <div class=vz-input__text><span></span>{{ text_input }}</div>
    </label>
{% elseif type=='button' %}
    <input type="{{ type }}"
           id="{{ id }}"
           class="{{ input_classes }}"
           value="{{ value }}"
    />
{% elseif type=='textarea' %}
    <textarea
            type="{{ type }}"
            id="{{ id }}"
            name="{{ name }}"
            class="vz-input__input {{ input_classes }}" rows="10"
    >
        {{ value }}
    </textarea>
    {% if text_input %}
        <div class="vz-input__text"></div>
        {{ text_input }}
    {% endif %}
{% elseif type=='submit' %}
    <input type="{{ type }}"
           id="{{ id }}"
           class="{{ input_classes }}"
           value="{{ value }}"
    />
{% elseif type=='email' or type=='text' or type=='submit' or type=='password' %}
    <input type="{{ type }}"
           id="{{ id }}"
           name="{{ name }}"
           placeholder="{{ placeholder }}"
           class="{{ input_classes }}"
           value="{{ value }}"
    />
{% endif %}
</div>
