{% set input_classes = 'form-control vz-form-control' %}
{% if classes %}
    {% set input_classes = input_classes ~ ' ' ~ classes %}
{% endif %}
{% if type=='button' %}
    {% set button = true %}
{% endif %}
{% if button %}
    {% set input_classes = classes ~ ' btn vz-button btn-' ~ style %}
{% endif %}
{% if not type %}
    {% set type = 'text' %}
{% endif %}
{% if type=='checkbox' %}
    <label class="{{ type }} vz-checkbox">
        <input type="{{ type }}"
               class="{{ classes }} "
               name="{{ name }}"
               value="{{ value }}"
               {% if checked %}checked="checked"{% endif %}
        />
        {% if text_input %}
        <div class="{{ type }}-text"></div>
        {{ text_input }}
        {% endif %}
    </label>
{% elseif type=='select' %}
    {% if text_input %}
        <label class="{{ type }}" for="{{ id }}">{{ text_input }}</label>
    {% endif %}
    <div class="{{ classes }} select-container">
        <select name="{{ name }}" id="{{ id }}" class="{{ input_classes }}" onchange="{{ on_change }}">
            {% if placeholder %}
                <option value="">{{ placeholder }}</option>
            {% endif %}
            {% for option in select_values %}
                <option value="{{ option[select_values_val] }}"
                        {% if option[select_values_check_val] == select_values_check %} selected="selected" {% endif %}>
                    {{ option[select_values_name] }}
                </option>
            {% endfor %}
        </select>
    </div>
{% elseif type=='radio' %}
    <label class="{{ type }} d-vis" id="{{ id }}">
        <input type="{{ type }}"
               id="{{ id }}"
               class="{{ classes }} "
               name="{{ name }}"
               value="{{ value }}"
               {% if checked %}checked="checked"{% endif %}
        />
        <div class="{{ type }}-text"><span></span>{{ text_input }}</div>
    </label>
{% elseif type=='button' %}
    <input type="{{ type }}"
           id="{{ id }}"
           class="{{ input_classes }}"
           value="{{ value }}"
    />
{% elseif type=='textarea' %}
    <textarea
            type="{{ type }}"
            id="{{ id }}"
            name="{{ name }}"
            class="{{ input_classes }}" rows="10"
    >
        {{ value }}
    </textarea>
{% elseif type=='submit' %}
    <input type="{{ type }}"
           id="{{ id }}"
           class="{{ input_classes }}"
           value="{{ value }}"
    />
{% elseif type=='email' or type=='text' or type=='submit' or type=='password' %}
    <input type="{{ type }}"
           id="{{ id }}"
           name="{{ name }}"
           placeholder="{{ placeholder }}"
           class="{{ input_classes }}"
           value="{{ value }}"
    />
{% endif %}