<div class="vz-product-product__tabs vz-product-product__tabs--default">
    <ul class="vz-product-product__tabs__nav nav nav-tabs">
        <li class="vz-product-product__tabs__nav__item vz-product-product__tabs__nav__item--active active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
        {% if attribute_groups %}
            <li class="vz-product-product__tabs__nav__item vz-product-product__tabs__nav__item--attrs-group"><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
        {% endif %}
        {% if review_status %}
            <li class="vz-product-product__tabs__nav__item vz-product-product__tabs__nav__item--review"><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
        {% endif %}
    </ul>
    <div class="vz-product-product__tabs__content tab-content">
        <div class="vz-product-product__tabs__content__pane vz-product-product__tabs__content__pane--active tab-pane active" id="tab-description">{{ description }}</div>
        {% if attribute_groups %}
            <div class="vz-product-product__tabs__content__pane tab-pane" id="tab-specification">
                <table class="table table-bordered">
                    {% for attribute_group in attribute_groups %}
                        <thead>
                        <tr>
                            <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for attribute in attribute_group.attribute %}
                            <tr>
                                <td>{{ attribute.name }}</td>
                                <td>{{ attribute.text }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        {% if review_status %}
            <div class="vz-product-product__tabs__content__pane tab-pane" id="tab-review">
                {% include partial.d_review.template with partial.d_review %}
            </div>
        {% endif %}</div>
</div>