{% if thumb or images %}
    <ul class="vz-product-product__thumbnails vz-product-product__thumbnails--default thumbnails">
        {% if thumb %}
            <li class="vz-product-product__thumbnails__item vz-product-product__thumbnails__item--main"><a href="{{ popup }}" title="{{ heading_title }}"><img
                            src="{{ thumb }}" title="{{ heading_title }}"
                            alt="{{ heading_title }}"/></a></li>
        {% endif %}
        {% if images %}
            {% for image in images %}
                <li class="vz-product-product__thumbnails__item ">
                    <a href="{{ image.popup }}"
                       title="{{ heading_title }}">
                        <img src="{{ image.thumb }}" title="{{ heading_title }}"
                             alt="{{ heading_title }}"/></a></li>
            {% endfor %}
        {% endif %}
    </ul>
{% endif %}
