<form class="form-horizontal">
  {% include 'd_visualize/template/component/d_name_field.twig' with {form:'inline'} %}
  {% include 'd_visualize/template/component/d_address_field.twig' with {form:'inline'} %}
  {% for custom_field in custom_fields %}
    {% if custom_field.location == 'address' %}
      {% set custom_field = custom_field|merge({form:'inline'}) %}
      {% include 'd_visualize/template/component/d_custom_field.twig' with custom_field  %}
    {% endif %}
  {% endfor %}
  <div class="buttons">
    <div class="pull-right">
      <input type="button" value="{{button_continue}}" id="button-guest-shipping" data-loading-text="{{text_loading}}" class="btn btn-primary" />
    </div>
  </div>
</form>

<script type="text/javascript"><!--
$(function(){
    d_address_field.init({
        zone_id: '{{zone_id}}',
        text_none: '{{text_none}}',
        text_select: '{{text_select}}'
    });
    d_custom_field.init();
})
//--></script>
