<div class="row">
  <div class="col-sm-6">
    <h2>{{text_new_customer}}</h2>
    <p>{{text_checkout}}</p>
      {% include partial.form_group.template with partial.form_group|merge({
      type:'radio',
      name:'account',
      radio_values: [{ 'val':'register','name': text_register},{'val':'guest','name':text_guest}],
      radio_values_val:'val',
      radio_values_check: account,
      radio_values_name: 'name',
      }) %}
    <p>{{text_register_account}}</p>
      {% include partial.button.template with partial.button|merge({
          button:true,
          id:'button-account',
          text_loading:text_loading,
          style:'primary',
          text_button:button_continue
      }) %}
  </div>
  <div class="col-sm-6">
    <h2>{{text_returning_customer}}</h2>
    <p>{{text_i_am_returning_customer}}</p>
      {% include partial.form_group.template with partial.form_group|merge({
      type:'email',
      id:'input-email',
      name:'email',
      value:email,
      placeholder:entry_email,
      classes:'',
      text_input:entry_email,
      }) %}

      {% include partial.form_group.template with partial.form_group|merge({
      type:'password',
      id:'input-password',
      name:'password',
      value:password,
      placeholder:entry_password,
      classes:'',
      text_input:entry_password,
      }) %}
    <a href="{{ forgotten }}" class="password-forgot">{{ text_forgotten }}</a>
      {% include partial.button.template with partial.button|merge({
          button:true,
          id:'button-login',
          text_loading:text_loading,
          style:'primary',
          text_button:button_login
      }) %}
  </div>
</div>
