<div class="row">
  <div class="col-sm-6">
    <h2>{{text_new_customer}}</h2>
    <p>{{text_checkout}}</p>
      {% include partial.form_group.template with partial.form_group|merge({
      type:'radio',
      name:'account',
      radio_values: [{ 'val':'register','name': text_register},{'val':'guest','name':text_guest}],
      radio_values_val:'val',
      radio_values_check: account,
      radio_values_name: 'name',
      }) %}
    <p>{{text_register_account}}</p>
    <input type="button" value="{{button_continue}}" id="button-account" data-loading-text="{{text_loading}}" class="btn d-vis btn-primary" />
  </div>
  <div class="col-sm-6">
    <h2>{{text_returning_customer}}</h2>
    <p>{{text_i_am_returning_customer}}</p>
      {% include partial.form_group.template with partial.form_group|merge({
      type:'email',
      id:'input-email',
      name:'email',
      value:email,
      placeholder:entry_email,
      classes:'',
      text_input:entry_email,
      }) %}

      {% include partial.form_group.template with partial.form_group|merge({
      type:'password',
      id:'input-password',
      name:'password',
      value:password,
      placeholder:entry_password,
      classes:'',
      text_input:entry_password,
      }) %}
    <a href="{{ forgotten }}" class="password-forgot">{{ text_forgotten }}</a>
    <input type="button" value="{{button_login}}" id="button-login" data-loading-text="{{text_loading}}" class="btn d-vis btn-primary" />
  </div>
</div>
