{% if error_warning %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if payment_methods %}
    <div class="payment-methods">
        <p>{{ text_payment_method }}</p>
        {% for payment_method in payment_methods %}
            <div class="radio payment-methods__item">
                <label>
                    <input type="radio" name="payment_method" value="{{ payment_method.code }}"
                           {% if payment_method.code == code %}checked="checked"{% endif %} />
                    {{ payment_method.title }}
                    {% if payment_method.terms %}
                        ({{ payment_method.terms }})
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    </div>
{% endif %}
 {% include component.form_group.template with component.form_group|merge({
     type:'textarea',
     name:'comment',
     value:comment,
     text_input:text_comments,
     custom:'rows="8"'
 }) %}
  {% include component.d_button_continue.template with component.d_button_continue|merge({
      button: true,
      id:"button-payment-method",
      button_continue: button_continue,
  }) %}
{#{% if text_agree %}#}
    {#<div class="buttons">#}
        {#<div class="pull-right">{{ text_agree }}#}
            {#<input type="checkbox" name="agree" value="1" {% if agree %}checked="checked"{% endif %} />#}
            {#&nbsp;#}
            {#<input type="button" value="{{ button_continue }}" id="button-payment-method"#}
                   {#data-loading-text="{{ text_loading }}" class="btn btn-primary"/>#}
        {#</div>#}
    {#</div>#}
{#{% else %}#}
    {#<div class="buttons">#}
        {#<div class="pull-right">#}
            {#<input type="button" value="{{ button_continue }}" id="button-payment-method"#}
                   {#data-loading-text="{{ text_loading }}" class="btn btn-primary"/>#}
        {#</div>#}
    {#</div>#}
{#{% endif %}#}

<script>
	if ($('#collapse-payment-method [name=\'payment_method\']:checked').val() == undefined) {
		$('#collapse-payment-method [name=\'payment_method\']').first().attr('checked', 'checked');
	}
</script>
