<div class="row">
    {#this var need to prevent error displaying before render#}
    {% set error_then = true %}
    <div class="col-sm-6">
        <fieldset id="account">
            <legend>{{ text_your_details }}</legend>
            <div class="form-group" style="display: {% if customer_groups|length > 1 %} block {% else %} none {% endif %};">
                <label class="control-label">{{ entry_customer_group }}</label>
                {% for customer_group in customer_groups %}
                    {% if customer_group.customer_group_id == customer_group_id %}
                        <div class="radio">
                            <label>
                                <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" checked="checked" />
                                {{ customer_group.name }}</label>
                        </div>
                    {% else %}
                        <div class="radio">
                            <label>
                                <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" />
                                {{ customer_group.name }}</label>
                        </div>
                    {% endif %}
                {% endfor %}</div>

            {% include component.d_account_field.template with component.d_account_field %}
            {% for custom_field in custom_fields %}
                {% if custom_field.location == 'account' %}
                    {% include component.d_custom_field.template with component.d_custom_field|merge({custom_field:custom_field}) %}
                {% endif %}
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>{{ text_your_password }}</legend>
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_password ,
                    error:error_password,
                    input:{
                        type:'password',
                        id:'input-password',
                        name:'password',
                        value:password,
                        placeholder:entry_password ,
                    }
                }
            } %}
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_confirm ,
                    error:error_confirm,
                    input:{
                        type:'password',
                        id:'input-confirm',
                        name:'confirm',
                        value:confirm,
                        placeholder:entry_confirm ,
                    }
                }
            } %}
        </fieldset>
    </div>
    <div class="col-sm-6">
        <fieldset id="address">
            <legend>{{ text_your_address }}</legend>
            {% include component.d_address_field.template with component.d_address_field %}
            {% for custom_field in custom_fields %}
                {% if custom_field.location == 'address' %}
                    {% include component.d_custom_field.template with component.d_custom_field|merge({custom_field:custom_field}) %}
                {% endif %}
            {% endfor %}
        </fieldset>

        {{ captcha }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% include component.input.template with {input:{
            type:'checkbox',
            id:'newsletter',
            name:'newsletter',
            value:1 ,
            checked: newsletter,
            text_input: entry_newsletter,
        }} %}
    </div>
    <div class="col-12">
        {% if shipping_required %}
            {% include component.input.template with {input:{
                type:'checkbox',
                name:'shipping_address',
                value:1 ,
                checked: true,
                text_input: entry_shipping,
            }} %}
        {% endif %}

        {% include component.d_button_continue.template with component.d_button_continue|merge({
            button: true,
            id:"button-register",
            button_continue: button_continue,
        }) %}
    </div>
    {% set error_then = false %}

</div>
<script type="text/javascript"><!--
	$(function () {
		d_address_field.init({
			zone_id: '{{ zone_id }}',
			text_none: '{{ text_none }}',
			text_select: '{{ text_select }}'
		});
		d_custom_field.init();
	});
	//--></script>

