{% if error_warning %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}

{% if shipping_methods %}
    <div class="shipping-methods">
        <p>{{ text_shipping_method }}</p>
        {% for shipping_method in shipping_methods %}
            <p><strong>{{ shipping_method.title }}</strong></p>
            {% if not shipping_method.error %}
                {% for quote in shipping_method.quote %}
                    <div class="radio shipping-methods__item">
                        <label>
                            <input type="radio" name="shipping_method" value="{{ quote.code }}"
                                   {% if quote.code == code %}checked="checked"{% endif %} />
                            {{ quote.title }} - {{ quote.text }}</label>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-danger">{{ shipping_method.error }}</div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
        {% include component.form_group.template with{
            form_group:{
                label_text:entry_message ,
                hint:help_message,
                input:{
                    type:'textarea',
                    id:'input-message',
                    name:'message',
                    value:message,
                    cols:"40",
                    rows:"5"
                }
            }
        } %}
  {% include component.d_button_continue.template with component.d_button_continue|merge({
      button: true,
      id:"button-shipping-method",
      button_continue: button_continue,
      text_agree:false
  }) %}
<script>
	if ($('#collapse-shipping-method [name=\'shipping_method\']:checked').val() == undefined) {
		$('#collapse-shipping-method [name=\'shipping_method\']').first().attr('checked', 'checked');
	}
</script>
