{{header}}
{% include 'd_theme_twig/template/partial/d_breadcrumb.twig' %}
    {% include 'd_theme_twig/template/partial/d_layout_open.twig' %}
      <div class="h2">{{text_my_account}}</div>
      <ul class="list-unstyled">
        <li><a href="{{edit}}">{{text_edit}}</a></li>
        <li><a href="{{password}}">{{text_password}}</a></li>
        <li><a href="{{address}}">{{text_address}}</a></li>
        <li><a href="{{wishlist}}">{{text_wishlist}}</a></li>
      </ul>
      <div class="h2">{{text_my_orders}}</div>
      <ul class="list-unstyled">
        <li><a href="{{order}}">{{text_order}}</a></li>
        <li><a href="{{download}}">{{text_download}}</a></li>
        {% if reward %}
        <li><a href="{{reward}}">{{text_reward}}</a></li>
        {% endif %}
        <li><a href="{{return}}">{{text_return}}</a></li>
        <li><a href="{{transaction}}">{{text_transaction}}</a></li>
        <li><a href="{{recurring}}">{{text_recurring}}</a></li>
      </ul>
      <div class="h2">{{text_my_newsletter}}</div>
      <ul class="list-unstyled">
        <li><a href="{{newsletter}}">{{text_newsletter}}</a></li>
      </ul>
    {% include 'd_theme_twig/template/partial/d_layout_close.twig' %}
{{footer}}
