{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <div class="h2">{{ text_add_address }}</div>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            {% include partial.d_name_field.template with  partial.d_name_field %}
            {% include partial.d_address_field.template with  partial.d_address_field %}
            {% for custom_field in custom_fields %}
                {% if custom_field.location == 'address' %}
                    {% include partial.d_custom_field.template with  partial.d_custom_field %}
                {% endif %}
            {% endfor %}
             <div class="form-group">
                <label class="field-label label-text-right radio-label">{{ entry_default }}</label>
                <div class="">
                        <div class="default-wrap">
                            {% include partial.input.template with partial.input|merge({
                                type:'radio',
                                name:'default',
                                value:'1',
                                checked:default,
                                text_input:text_yes }) %}

                            {% include partial.input.template with partial.input|merge({
                                type:'radio',
                                name:'default',
                                value:'0',
                                checked:not default,
                                text_input:text_no }) %}

                        </div>

                 </div>
               </div>
        </fieldset>
        {% include partial.d_button_submit.template with  partial.d_button_submit %}
    </form>
    <script type="text/javascript"><!--
        $(function () {
            d_address_field.init({
                zone_id: '{{ zone_id }}',
                text_none: '{{ text_none }}',
                text_select: '{{ text_select }}'
            });
            d_custom_field.init();
        })
        //--></script>
{% endblock %}