{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <div class="h2">{{ text_add_address }}</div>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            {% include partial.d_name_field.template with  partial.d_name_field %}
            {% include partial.d_address_field.template with  partial.d_address_field %}
            {% for custom_field in custom_fields %}
                {% if custom_field.location == 'address' %}
                    {% include partial.d_custom_field.template with  partial.d_custom_field %}
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <label class="col-sm-2 field-label label-text-right radio-label">{{ entry_default }}</label>
                <div class="col-sm-10">
                    <label class="radio-input">
                        <span class="radio-container">
                            <input type="radio" name="default" value="1" {% if default %}checked="checked"{% endif %} />
                            <span class="input-circle"></span>
                        </span>
                        {{ text_yes }}</label>
                    <label class="radio-input">
                        <span class="radio-container">
                            <input type="radio" name="default" value="0" {% if not default %}checked="checked"{% endif %} />
                            <span class="input-circle"></span>
                        </span>
                        {{ text_no }}</label>
                </div>
            </div>
        </fieldset>
        {% include partial.d_button_submit.template with  partial.d_button_submit %}
    </form>
    <script type="text/javascript"><!--
        $(function () {
            d_address_field.init({
                zone_id: '{{ zone_id }}',
                text_none: '{{ text_none }}',
                text_select: '{{ text_select }}'
            });
            d_custom_field.init();
        })
        //--></script>
{% endblock %}