{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <div class="h2">{{ text_add_address }}</div>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            {% include partial.d_name_field.template with  partial.d_name_field %}
            {% include partial.d_address_field.template with  partial.d_address_field %}
            {% for custom_field in custom_fields %}
                {% if custom_field.location == 'address' %}
                    {% include partial.d_custom_field.template with  partial.d_custom_field %}
                {% endif %}
            {% endfor %}
            {% include partial.form_group.template with partial.form_group|merge({
            type:'radio',
            name:'default',
            form:'inline',
            radio_values: [{ 'val':1,'name': text_yes},{'val':0,'name':text_no}],
            radio_values_val:'val',
            radio_values_check: default,
            radio_values_name: 'name',
            text_input:entry_default,
            }) %}

        </fieldset>
        {% include partial.d_button_submit.template with  partial.d_button_submit %}
    </form>
    <script type="text/javascript"><!--
        $(function () {
            d_address_field.init({
                zone_id: '{{ zone_id }}',
                text_none: '{{ text_none }}',
                text_select: '{{ text_select }}'
            });
            d_custom_field.init();
        })
        //--></script>
{% endblock %}