{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <h2 class="heading-h2">{{ text_address }}</h2>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            {% include component.d_name_field.template with  component.d_name_field %}
            {% include component.d_address_field.template with  component.d_address_field %}
            {% for custom_field in custom_fields %}
                {% if custom_field.location == 'address' %}
                    {% include component.d_custom_field.template with  component.d_custom_field %}
                {% endif %}
            {% endfor %}
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_default,
                    error:error_default,
                    type:'radio',
                    input:{
                        type:'radio',
                        name:'default',
                        value: 'value',
                        checked: default,
                        text_input:entry_default ,
                        values: [{ 'value':1,'text': text_yes},{'value':0,'text':text_no}],
                    }
                }
            } %}
        </fieldset>
        {% include component.d_button_continue.template with  component.d_button_continue %}
    </form>
    <script type="text/javascript"><!--
        $(function () {
            d_address_field.init({
                zone_id: '{{ zone_id }}',
                text_none: '{{ text_none }}',
                text_select: '{{ text_select }}'
            });
            d_custom_field.init();
        })
        //--></script>
{% endblock %}