{#it's mean in layout template#}
{% extends template %}

{% block content %}

      <h1 class="heading-h1">{{heading_title}}</h1>
      <p>{{text_email}}</p>
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{text_your_email}}</legend>
          <div class="form-group required">
            <label class="field-label" for="input-email"><span>{{entry_email}}</span></label>
              <input type="text" name="email" value="" placeholder="{{entry_email}}" id="input-email" class="field" />
          </div>
        </fieldset>
          {% include partial.d_button_submit.template with partial.d_button_submit %}
      </form>
{% endblock %}