{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <div class="login-page">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="well">
                    <h3 class="heading-h3">{{ text_new_customer }}</h3>
                    <h5 class="heading-subtitle">{{ text_register }}</h5>
                    <p>{{ text_register_account }}</p>
                    <div class="d-flex justify-content-end">
                        {% include component.button.template with component.button|merge({
                        link:register ,
                        style:'primary',
                        classes:'btn-shrink',
                        text_button:button_continue,
                        }) %}
                        </div>
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="heading-h3">{{ text_returning_customer }}</h3>
                    <h5 class="heading-h5">{{ text_i_am_returning_customer }}</h5>
                    <form action="{{ action }}" method="post" enctype="multipart/form-data">
                        {% include component.form_group.template with component.form_group|merge({
                        type:'email',
                        id:'input-email',
                        name:'email',
                        value:email,
                        placeholder:entry_email,
                        classes:'',
                        text_input:entry_email,
                        }) %}

                        {% include component.form_group.template with component.form_group|merge({
                        type:'password',
                        id:'input-password',
                        name:'password',
                        value:password,
                        placeholder:entry_password,
                        classes:'',
                        text_input:entry_password,
                        }) %}

                        <a href="{{ forgotten }}" class="password-forgot">{{ text_forgotten }}</a>

                        {% include component.d_button_continue.template with component.d_button_continue|merge({
                            button_continue:button_login
                        }) %}


                        {% if redirect %}
                            <input type="hidden" name="redirect" value="{{ redirect }}"/>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
