{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <div class="order-page">
        <h1 class="heading-h1">{{ heading_title }}</h1>
        {% if orders %}
            <div class="table-responsive">
                <table class="table vis-table table-hover">
                    <thead>
                    <tr>
                        <td class="text-right">{{ column_order_id }}</td>
                        <td class="text-left">{{ column_status }}</td>
                        <td class="text-left">{{ column_date_added }}</td>
                        <td class="text-right">{{ column_product }}</td>
                        <td class="text-left">{{ column_customer }}</td>
                        <td class="text-right">{{ column_total }}</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td class="text-right">#{{ order.order_id }}</td>
                            <td class="text-left">{{ order.status }}</td>
                            <td class="text-left">{{ order.date_added }}</td>
                            <td class="text-right">{{ order.products }}</td>
                            <td class="text-left">{{ order.name }}</td>
                            <td class="text-right">{{ order.total }}</td>
                            <td class="text-right">
                                {% include component.button.template with {button:{
                                    link: order.view,
                                    style:'link',
                                    classes:'like-warning',
                                    text_button:'<i class="fa fa-eye"></i>',
                                    title:button_view,
                                }} %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-right">{{ pagination }}</div>
        {% else %}
            <p>{{ text_empty }}</p>
        {% endif %}
    </div>
{% endblock %}