{#it's mean in layout template#}
{% extends template %}
{% block content %}
      <h1 class="heading-h1">{{heading_title}}</h1>
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{text_password}}</legend>
          <div class="form-group required">
            <label class=" field-label label-right-md" for="input-password"><span>{{entry_password}}</span></label>
            <div class="pwd-wrap">
              <input type="password" name="password" value="{{password}}" id="input-password" class="field" />
              {% if error_password %}
              <div class="text-danger">{{error_password}}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="field-label label-right-md" for="input-confirm"><span>{{entry_confirm}}</span></label>
            <div class="pwd-c-wrap">
              <input type="password" name="confirm" value="{{confirm}}" id="input-confirm" class="field" />
              {% if error_confirm %}
              <div class="text-danger">{{error_confirm}}</div>
              {% endif %}
            </div>
          </div>
        </fieldset>
          {% include partial.d_button_submit.template with  partial.d_button_submit %}
      </form>
{% endblock %}