{% extends template %}
{% block content %}
    <div class="register-page">
        <h1 class="heading-h1">{{ heading_title }}</h1>
        <p>{{ text_account_already }}</p>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <fieldset id="account">
                <h3>{{ text_your_details }}</h3>
                <div class="">
                    {% include component.d_account_field.template %}
                    {% for custom_field in custom_fields %}
                        {% if custom_field.location =='account'%}
                            {% include component.d_custom_field.template with custom_field %}
                        {% endif %}
                    {% endfor %}
                </div>
            </fieldset>
            {% if constant('VERSION') < '3.0.0.0' %}
                {% block address %}
                <fieldset id="address">
                    <h3>{{ text_your_address }}</h3>
                    {% include component.d_address_field.template %}
                    {% for custom_field in custom_fields %}
                        {% if custom_field.location =='address'%}
                            {% include component.d_custom_field.template with custom_field %}
                        {% endif %}
                    {% endfor %}
                </fieldset>
                {% endblock %}
            {% endif %}
            {% block affiliate %}
            {% endblock %}
            <fieldset class="password">
                <h3>{{ text_your_password }}</h3>
                {% include component.form_group.template with{
                    form_group:{
                        label_text:entry_password ,
                        error:error_password,
                        input:{
                            type:'password',
                            id:'input-password',
                            name:'password',
                            value:password,
                            placeholder:entry_password ,
                        }
                    }
                } %}
                {% include component.form_group.template with{
                    form_group:{
                        label_text:entry_confirm ,
                        error:error_confirm,
                        input:{
                            type:'password',
                            id:'input-confirm',
                            name:'confirm',
                            value:confirm,
                            placeholder:entry_confirm ,
                        }
                    }
                } %}
            </fieldset>
            {% block newslatter %}
            <fieldset class="newslatter">
                <h3>{{ text_newsletter }}</h3>
                {% include component.form_group.template with{
                    form_group:{
                        label_text:entry_newsletter ,
                        error:error_newsletter,
                        form:'inline',
                        type:'radio',
                        input:{
                            type:'radio',
                            name:'newsletter',
                            value: newsletter,
                            checked: newsletter,
                            text_input:entry_newsletter ,
                            values: [{ 'value':1,'text': text_yes},{'value':0,'text':text_no}],
                        }
                    }
                } %}
            </fieldset>
            {% endblock %}
            {{ captcha }}
            {% include component.d_button_continue.template  %}
        </form>
        <script type="text/javascript"><!--
			$(function () {
				d_address_field.init({
					zone_id: '{{ zone_id }}',
					text_none: '{{ text_none }}',
					text_select: '{{ text_select }}'
				});
				d_custom_field.init();
			});

			//--></script>
    </div>

{% endblock %}