{% extends template %}
{% block content %}
    <div class="register-page">
        <h1 class="heading-h1">{{ heading_title }}</h1>
        <p>{{ text_account_already }}</p>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <fieldset id="account">
                <h3>{{ text_your_details }}</h3>
                <div class="">
                    {% include partial.d_account_field.template with partial.d_account_field|merge({form:''}) %}
                    {% for custom_field in custom_fields %}
                        {% if custom_field.location == 'account' %}
                            {% set custom_field = custom_field|merge({form:'inline'}) %}
                            {% include partial.d_custom_field.template with partial.d_custom_field|merge(custom_field) %}
                        {% endif %}
                    {% endfor %}
                </div>

            </fieldset>
            {% if constant('VERSION') < '3.0.0.0' %}
                <fieldset id="address">
                    <h3>{{ text_your_address }}</h3>
                    {% include partial.d_address_field.template with partial.d_address_field|merge({form:'inline'}) %}
                    {% for custom_field in custom_fields %}
                        {% if custom_field.location == 'address' %}
                            {% set custom_field = custom_field|merge({form:'inline'}) %}
                            {% include partial.d_custom_field.template with partial.d_custom_field|merge(custom_field) %}
                        {% endif %}
                    {% endfor %}
                </fieldset>
            {% endif %}
            <fieldset>
                <h3>{{ text_your_password }}</h3>
                {% include partial.form_group.template with partial.form_group|merge({
                type:'password',
                id:'input-password',
                name:'password',
                value:password,
                placeholder:entry_password,
                classes:'',
                text_input:entry_password,
                }) %}
                {% include partial.form_group.template with partial.form_group|merge({
                type:'password',
                id:'input-confirm',
                name:'confirm',
                value:password,
                placeholder:entry_confirm,
                classes:'',
                text_input:entry_confirm,
                }) %}

            </fieldset>
            <fieldset class="newslatter">
                <h3>{{ text_newsletter }}</h3>
                {% include partial.form_group.template with partial.form_group|merge({
                type:'radio',
                name:'newsletter',
                form:'inline',
                radio_values: [{ 'val':1,'name': text_yes},{'val':0,'name':text_no}],
                radio_values_val:'val',
                radio_values_check: newsletter,
                radio_values_name: 'name',
                text_input:entry_newsletter,
                }) %}

            </fieldset>
            {{ captcha }}
            {% include partial.d_button_submit.template with partial.d_button_submit %}
        </form>


        <script type="text/javascript"><!--
			$(function () {
				d_address_field.init({
					zone_id: '{{ zone_id }}',
					text_none: '{{ text_none }}',
					text_select: '{{ text_select }}'
				});
				d_custom_field.init();
			});

			//--></script>
    </div>

{% endblock %}