{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <p>{{ text_description }}</p>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <legend>{{ text_order }}</legend>
        <fieldset>
            {% include component.d_name_field.template with  component.d_name_field %}
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_email ,
                    error:error_email,
                    required:true,
                    input:{
                        type:'text',
                        id:'input-email',
                        name:'email',
                        value:email,
                        placeholder:entry_email ,
                    }
                }
            } %}

            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_telephone ,
                    error:error_telephone,
                    required:true,
                    input:{
                        type:'text',
                        id:'input-telephone',
                        name:'telephone',
                        value:telephone,
                        placeholder:entry_telephone ,
                    }
                }
            } %}  
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_order_id ,
                    error:error_order_id,
                    required:true,
                    input:{
                        type:'text',
                        id:'input-order-id',
                        name:'order_id',
                        value:order_id,
                        placeholder:entry_order_id ,
                    }
                }
            } %}
            {% include component.form_group.template with {
                form_group:{
                    label_text:entry_date_ordered,
                    input_group:{
                        classes:'date',
                        input:{
                            type:'date',
                            id:'input-date-ordered',
                            name:'date_ordered',
                            value: date_ordered,
                        },
                        button:{
                            style:'primary',
                            icon:'fa fa-calendar',
                        }
                    }
                }
            } %}

        </fieldset>
        <fieldset>
            <legend>{{ text_product }}</legend>
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_product ,
                    error:error_product,
                    required:true,
                    input:{
                        type:'text',
                        id:'input-product',
                        name:'product',
                        value:product,
                        placeholder:entry_product ,
                    }
                }
            } %}
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_model ,
                    error:error_model,
                    required:true,
                    input:{
                        type:'text',
                        id:'input-model',
                        name:'model',
                        value:model,
                        placeholder:entry_model ,
                    }
                }
            } %}
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_quantity ,
                    error:error_quantity,
                    required:true,
                    input:{
                        type:'text',
                        id:'input-quantity',
                        name:'quantity',
                        value:quantity,
                        placeholder:entry_quantity ,
                    }
                }
            } %}
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_reason ,
                    error:error_reason,
                    type:'radio',
                    required:true,
                    input:{
                        type:'radio',
                        form:'block',
                        name:'return_reason_id',
                        checked: return_reason_id,
                        value: 'return_reason_id',
                        text:'name' ,
                        values: return_reasons,
                    }
                }
            } %}
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_opened ,
                    error:error_opened,
                    required:true,
                    type:'radio',
                    input:{
                        type:'radio',
                        name:'opened',
                        checked: opened,
                        values: [{ 'value':1,'text': text_yes},{'value':0,'text':text_no}],
                    }
                }
            } %}
            {% include component.form_group.template with{
                form_group:{
                    label_text:entry_fault_detail,
                    required:true,
                    input:{
                        type:'textarea',
                        id:'input-comment',
                        name:'comment',
                        value:comment,
                        placeholder:entry_fault_detail ,
                    }
                }
            } %}
            {{ captcha }}
        </fieldset>
        {% include component.d_button_continue.template %}
    </form>

    <script type="text/javascript"><!--
		$('.date').datetimepicker({
			language: '{{ datepicker }}',
			pickTime: false
		});
		//--></script>
{% endblock %}