{#it's mean in layout template#}
{% extends template %}
{% block content %}
    <h1 class="heading-h1">{{ heading_title }}</h1>
    <p>{{ text_description }}</p>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <legend>{{ text_order }}</legend>
        <fieldset>
            {% include partial.d_name_field.template with  partial.d_name_field %}

            {% include partial.form_group.template with partial.form_group|merge({
            type:'email',
            id:'input-email',
            name:'email',
            required: true,
            value:email,
            placeholder:entry_email,
            classes:'',
            text_input:entry_email,
            error:error_email,
            }) %}

            {% include partial.form_group.template with partial.form_group|merge({
            type:'text',
            id:'input-telephone',
            name:'telephone',
            required: true,
            value:telephone,
            placeholder:entry_telephone,
            classes:'',
            text_input:entry_telephone,
            error:error_telephone,
            }) %}

            {% include partial.form_group.template with partial.form_group|merge({
            type:'text',
            id:'input-order-id',
            name:'order_id',
            required: true,
            value:order_id,
            placeholder:entry_order_id,
            classes:'',
            text_input:entry_order_id,
            error:error_order_id,
            }) %}

            {% include partial.form_group.template with partial.form_group|merge({
            type:'date',
            id:'input-date-ordered',
            name:'date_ordered',
            value:date_ordered,
            placeholder:entry_date_ordered,
            text_input:entry_date_ordered,
            classes:'',
            }) %}
        </fieldset>
        <fieldset>
            <legend>{{ text_product }}</legend>
            {% include partial.form_group.template with partial.form_group|merge({
            type:'text',
            id:'input-product',
            name:'product',
            required: true,
            value:product,
            placeholder:entry_product,
            classes:'',
            text_input:entry_product,
            error:error_product,
            }) %}
             
            {% include partial.form_group.template with partial.form_group|merge({
            type:'text',
            id:'input-model',
            name:'model',
            required: true,
            value:model,
            placeholder:entry_model,
            classes:'',
            text_input:entry_model,
            error:error_model,
            }) %} 

            {% include partial.form_group.template with partial.form_group|merge({
            type:'text',
            id:'input-quantity',
            name:'quantity',
            value:quantity,
            placeholder:entry_quantity,
            classes:'',
            text_input:entry_quantity,
            error:error_quantity,
            }) %}

            {% include partial.form_group.template with partial.form_group|merge({
            type:'radio',
            id:'input-reason',
            name:'return_reason_id',
            required: true,
            radio_values:return_reasons,
            radio_values_val:'return_reason_id',
            radio_values_check: return_reason_id,
            radio_values_name: 'name',
            placeholder:entry_reason,
            classes:'',
            text_input:entry_reason,
            error:error_reason,
            }) %}


            {% include partial.form_group.template with partial.form_group|merge({
            type:'radio',
            id:'input-opened',
            name:'opened',
            required: true,
            radio_values: [{ 'val':1,'name': text_yes},{'val':0,'name':text_no}],
            radio_values_val:'val',
            radio_values_check: opened,
            radio_values_name: 'name',
            placeholder:entry_opened,
            classes:'',
            text_input:entry_opened,
            error:error_opened,
            }) %}

            {% include partial.form_group.template with partial.form_group|merge({
            type:'textarea',
            id:'input-comment',
            name:'comment',
            value:comnent,
            placeholder:entry_fault_detail,
            classes:'',
            text_input:entry_fault_detail,
            }) %}
            {{ captcha }}
        </fieldset>
            {% include partial.d_button_continue.template with  partial.d_button_continue %}
    </form>

    <script type="text/javascript"><!--
		$('.date').datetimepicker({
			pickTime: false
		});
		//--></script>
{% endblock %}