{# location: admin/view #}
{{ header }}{{ column_left }}
<div id="content">
    <div id="visualize">
        <visualize></visualize>
    </div>
</div>
{% for vueTemplate in vueTemplates %}
    {{ content(vueTemplate,'.vue') }}
{% endfor %}
<script type="text/javascript">
	$(document).ready(function () {
		d_visualize.initState({{ state|json_encode }});

		Vue.use(Vuex);
		Vue.use(new VueOptions({{ options|json_encode }}));
		var router = new VueRouter({
			"routes": d_visualize.routes
		});
		console.log(d_visualize.routes)
		// router.beforeEach(function (to, from, next) {
		// 	// var test = _.find(d_visualize.routes, function (value) {
		// 	// 	if (value.path === to) {
		// 	// 		return true;
		// 	// 	} else {
		// 	// 		var test2 = _.find(value.children, function (value2) {
		// 	// 			if (value.path + '/' + value2.path === to) {
		// 	// 				return true;
		// 	// 			} else {
		// 	// 				return false;
		// 	// 			}
		// 	// 		});
		// 	// 		return test2;
		// 	// 	}
		// 	// });
		// 	// if (_.isEmpty(to.matched)) {
		// 	// 	console.log('not');
		// 	// 	next({
		// 	// 		path: '/home/dashboard',
		// 	// 		replace: true
		// 	// 	});
		// 	// } else {
		// 	// 	next(to.fullPath);
		// 	// }
		// });
		var store = new Vuex.Store(d_visualize);
		var local = {{ local|json_encode }}
			app = new Vue({
				"store": store,
				"router": router,
				"i18n": new VueI18n({
					locale: '{{ language_id }}',
					messages: local
				}),
				"methods": {
					o: function (value) {
						return value;
					}
				}

			}).$mount('#visualize');
		store.dispatch('LOAD_CONTENT');
		$('body').on('click', '#save_and_stay', function () {
			store.dispatch('SAVE_CONTENT');
		});
	});
</script>
{{ footer }}