{% if products or vouchers %}
    <li class="vz-mini-cart-products">
        <table class="table table-striped">
            {% for product in products %}
                <tr>
                    <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img
                                    src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"
                                    class="img-thumbnail"/></a> {% endif %}</td>
                    <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
                            {% for option in product.option %} <br/>
                                -
                                <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
                        {% endif %}
                        {% if product.recurring %} <br/>
                            -
                            <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
                    <td class="text-right">
                        {% include component.default_quantity_items.template with({product_id:product.cart_id,quantity:product.quantity,minimum:1}) %}
                    </td>
                    <td class="text-right">{{ product.total }}</td>
                    <td class="text-center">
                        {% include component.default_remove_btn.template with({product_id:product.cart_id}) %}
                    </td>
                </tr>
            {% endfor %}
            {% for voucher in vouchers %}
                <tr>
                    <td class="text-center"></td>
                    <td class="text-left">{{ voucher.description }}</td>
                    <td class="text-right">x&nbsp;1</td>
                    <td class="text-right">{{ voucher.amount }}</td>
                    <td class="text-center text-danger">
                        {% include component.button.template with component.button|merge({
                            button:'voucher.remove('~ voucher.key ~')',
                            icon:'fa fa-times',
                            title:button_remove,
                            style:'danger',
                        }) %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </li>
    <li class="vz-mini-cart-totals">
        <div>
            <table class="table table-bordered">
                {% for total in totals %}
                    <tr>
                        <td class="text-right"><strong>{{ total.title }}</strong></td>
                        <td class="text-right">{{ total.text }}</td>
                    </tr>
                {% endfor %}
            </table>
            <p class="text-right"><a href="{{ cart }}"><strong><i class="fa fa-shopping-cart"></i> {{ text_cart }}
                    </strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong><i
                                class="fa fa-share"></i> {{ text_checkout }}</strong></a></p>
        </div>
    </li>
{% else %}
    <li class="vz-mini-cart-empty">
        <p class="text-center">{{ text_empty }}</p>
    </li>
{% endif %}