<!doctype html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{direction}}" lang="{{lang}}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{direction}}" lang="{{lang}}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e6ecf7">
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    {% for meta in metas %}
        <meta {{ meta.property }}="{{ meta.meta }}" content="{{ meta.content }}"></meta>
    {% endfor %}
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    {#<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">#}
    {#<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>#}
    {#<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>#}
    {#<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css"/>#}
    {#< script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>#}
    {#<script>try {#}
    {#Modernizr#}
    {#} catch (e) }#}
    {#document.write('<script src="./assets/js/vendor/modernizr-2.8.3.min.js"><\/script>')#}
    {#}
        </script>
#}
    {#<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>#}
    {#<script src="catalog/view/javascript/d_bootstrap_rating/bootstrap-rating.js"></script>#}
    {#<script src="catalog/view/javascript/common.js"></script>#}
    {#<script src="catalog/view/theme/d_visualize/javascript/d_visualize.js"></script>#}
    {#<script src="catalog/view/theme/d_visualize/javascript/d_visualize_skin/d_dreamvention/visualize_controls.js"></script>#}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
    <!-- dynamic scripts -->
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}

    <link rel="stylesheet" href="catalog/view/theme/d_visualize/stylesheet/core/stylesheet.css">
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}"
                                                                      alt="{{ name }}" class="img-responsive"/>
                        </a>{% else %}
                        <h1><a href="{{ home }}">{{ name }}</a></h1>
                    {% endif %}</div>
            </div>
            <div class="col-sm-5">{{ search }}</div>
            <div class="col-sm-3">{{ cart }}</div>
        </div>
    </div>
</header>
{{ menu }}
