<!doctype html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{direction}}" lang="{{lang}}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{direction}}" lang="{{lang}}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e6ecf7">
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    {% for meta in metas %}
        <meta {{ meta.property }}="{{ meta.meta }}" content="{{ meta.content }}"></meta>
    {% endfor %}
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
    <!-- styles start -->

    {% for style in pre_styles %}
        <link href="{{ style }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endfor %}
    {#default place for styles all module come here #}
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}

    {% for style in post_styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}

    {% for custom_style in custom_styles %}
        <style>
            {{ custom_style }}
        </style>
    {% endfor %}
    <!-- scripts start -->
    {#d_visualize_pre_scripts#}
    {% for script in pre_scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    {# default_scripts #}
    <!-- dynamic scripts from modules -->
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}


</head>
<body class="{{ class }}">
